


= form_for [@space ,"settings",@host_profile] do |f|
  .wrapper_2_1
    .wrapper_2_2
      .upper
        .title_base.clearfix
          .title 1 基本情報

      .main
        .name
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 担当者氏名
          .title 漢字
          .input_base
            .kanji_wrap.clearfix
              .last_wrap
                -# %input{placeholder: "漢字（姓）", class: "input_area", type: "text", id: "kanji_last_name_unique"}
                = f.text_field :first_name, placeholder: "漢字（姓）", class: "input_area", id: "kanji_last_name_unique"
                .explanation 例）森田
              .first_wrap
                -# %input{placeholder: "漢字（名）", class: "input_area", type: "text", id: "kanji_first_name_unique"}
                = f.text_field :last_name,placeholder: "漢字（名）", class: "input_area", id: "kanji_first_name_unique"
                .explanation 例）大智
            .attention_01.fa.fa-exclamation-circle#warning_hr_11 漢字（姓）を入力してください。
            .attention_01.fa.fa-exclamation-circle#warning_hr_12 漢字（名）を入力してください。
          .title フリガナ
          .input_base
            .furigana_wrap.clearfix
              .last_wrap
                -# %input{placeholder: "フリガナ（姓）", class: "input_area", type: "text", id: "kana_last_name_unique"}
                = f.text_field :first_name_kata, placeholder: "フリガナ（姓）", class: "input_area", id: "kana_last_name_unique"
                .explanation 例）モリタ
              .first_wrap
                -# %input{placeholder: "フリガナ（名）", class: "input_area", type: "text", id: "kana_first_name_unique"}
                = f.text_field :last_name_kata,placeholder: "フリガナ（名）", class: "input_area", id: "kana_first_name_unique"
                .explanation 例）ダイチ
            .attention_01.fa.fa-exclamation-circle#warning_hr_13 フリガナ（姓）を入力してください。
            .attention_01.fa.fa-exclamation-circle#warning_hr_14 フリガナ（名）を入力してください。

        .sex
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 性別
          .input_base.clearfix
            .wrap
              -# %input{type: "radio", id: "radio1", name: "type", width: "200px"}
              =f.radio_button :sex, :male,id: "radio1", name: "type", width: "200px"
              %lavel.radio_type{for: "radio1"} 男性
            .wrap
              = f.radio_button :sex, :female,  id: "radio2", name: "type"
              -# %input{type: "radio", id: "radio2", name: "type"}

              %lavel.radio_type{for: "radio2"} 女性

        .birth_date
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 生年月日
          .input_base.clearfix
            .date_wrap
              .time_bottom
                .time_wrap
                  = f.select :born_year, 1900..2017, {}, {class: "year", id: "birth_year_unique"}

            .title
              .title_name 年
            .date_wrap
              .time_bottom
                .time_wrap
                  = f.select :born_manth, 1..12, {}, {class: "month", id: "birth_month_unique"}
            .title
              .title_name 月
            .date_wrap
              .time_bottom
                .time_wrap
                  = f.select :born_day, 1..30, {}, { class: "day", id: "birth_day_unique"}
            .title
              .title_name 日
          .error_wrap
            .attention_01.fa.fa-exclamation-circle#warning_hr_15 年を入力してください。
            .attention_01.fa.fa-exclamation-circle#warning_hr_16 月を入力してください。
            .attention_01.fa.fa-exclamation-circle#warning_hr_17 日を入力してください。

        .profile_image
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name プロフィール画像
          .photo_area#photo_wrap1_unique
            -if @host_profile.id
              = image_tag(@host_profile.avatar_url(),size: "120x120")
            - else
              = image_tag("img-sample01-40333a4871.jpg",size: "120x120")

          .add_photo
            %label{for: "add_button_unique", class: ".add_button", cursor: "pointer"}
              ＋ファイルの変更
              -# %input{type: "file", id: "add_button_unique", style: "display: none"}
              = f.file_field :avatar, id: "add_button_unique", style: "display: none"

        .phone_no
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 電話番号
          .input_base
            -# %input{placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"}
            = f.number_field :phone_number, in: 1...10000000000000, placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"
            .explanation 例）09012345678
            .attention_01.fa.fa-exclamation-circle#warning_hr_18 電話番号を入力してください。


        .id_doc
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 身分証明書類
          .explanation 以下のうち、いずれかの画像をアップロードしてください。
          .detail2 免許証 / パスポート / 住基カード
          .id_image
            = image_tag("identity_document-1125b4a186.svg")
          = f.file_field :identification
          .explanation ※カラーの画像をご用意ください。
          .explanation ※免許証は写真の入った表面のみをお送りください。
          .explanation ※パスポートは写真の入ったページと外務大臣印のあるページの見開きをお送りください。
          .explanation ※住基カードは写真の入った表面のみをお送りください。
          .explanation ※証明書部分が切れていないこと、影や反射がないこと、ピントがあっていることを確認し、内容が読み取りやすい画像をご用意ください。

        .individual_organization
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 個人・法人
          .detail 個人か法人のどちらかを選択してください

          .input_base.clearfix
            .wrap
              = f.radio_button :company, :false, id: "radio1",width: "200px"
              %lavel.radio_type{for: "radio3"} 個人
            .wrap
              -# %input{type: "radio", id: "radio2", name: "type"}
              %lavel.radio_type{for: "radio4"} 法人
              = f.radio_button :company, :true, id: "radio4"

          .y-com-wp
            .phone_no
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 法人名
              .input_base.y-ib
                -# %input{placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"}
                %span.y-com-n 正式名称
                = f.text_field :company_name, in: 1...10000000000000, placeholder: "正式名称", type: "text", class: "input_area",id: "phone_no_unique",width: "500px"
                .explanation.y-ex 例）スペースマーケット
              .input_base.y-ib
                %span.y-com-n カナ
                -# %input{placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"}
                = f.text_field :company_name_kata, in: 1...10000000000000, placeholder: "カナ", type: "text", class: "input_area",id: "phone_no_unique",width: "500px"
                .explanation.y-ex 例）スペースマーケット
              .input_base.y-ib
                %span.y-com-n 英語表記
                -# %input{placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"}
                = f.text_field :company_name_en, in: 1...10000000000000, placeholder: "英語表記", type: "text", class: "input_area",id: "phone_no_unique",width: "500px"
                .explanation.y-ex 例）SpaceMarket, inc.


            .phone_no
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 法人登録番号
              .input_base
                -# %input{placeholder: "電話番号", type: "text", class: "input_area",id: "phone_no_unique"}
                = f.number_field :company_number, in: 1...10000000000000, placeholder: "法人登録番号", type: "text", class: "input_area",id: "phone_no_unique"
                .explanation 例）0120117117



        .bottom
          .bottom_line
          .bottom_buttons
            .back_button_wrap
              .back_button
                %button.back_button_inside 保存して戻る
            .forward_button_wrap
              .forward_button
                =f.submit "保存して進む", class: "forward_button_inside"
