  %body.site-service
    %div
      #js-root.DashboardRoot__Container-u2tkfy-0.kfNZnp
        #js-root.DashboardRoot__Container-u2tkfy-0.kfNZnp
          %div
            %header
              .clearfix.Header__Container-s1qpa6dg-0.llwmRS
                %a{:href => "https://dashboard.spacemarket.com/r2beerctihqfpsij/dashboard"}
                  %span.Header__LogoIcon-s1qpa6dg-2.hoPBCh
                  %span.s1qpa6dg-2-Header__LogoIcon-dblSAI.jUqPwP
                .Header__ActionContainer-s1qpa6dg-4.iboZbo
                  .Header__ActionContent-s1qpa6dg-7.jijFKI
                    %a.Header__HeaderListItemLink-s1qpa6dg-6.bQUkYm{:href => "https://help.spacemarket.com/hc/ja", :target => "_blank"} ヘルプ
                  .Header__ActionContent-s1qpa6dg-7.bvIhWH
                    %span.Header__Rule-s1qpa6dg-8.kdvSay
                  .Header__ActionContent-s1qpa6dg-7.bZXoGu
                    .Header__IconWrapper-s1qpa6dg-9.jvNget
                      %i.icon-spm-mail.Icon__IconComponent-s1trxl8a-0.kcezVF
                      %span.Header__ReceiveIcon-s1qpa6dg-11.bIoqCu 91
                    %p.Header__MenuName-s1qpa6dg-10.cJUfeg お知らせ
                  .Header__ActionContent-s1qpa6dg-7.gAGLbc
                    .Header__IconWrapper-s1qpa6dg-9.jvNget
                      %i.icon-spm-check.Icon__IconComponent-s1trxl8a-0.kcezVF
                      %span.Header__ReceiveIcon-s1qpa6dg-11.bIoqCu 4
                    %p.Header__MenuName-s1qpa6dg-10.cJUfeg やること
                  .Header__ActionContent-s1qpa6dg-7.fTSPYf
                    .Header__IconWrapper-s1qpa6dg-9.jvNget
                      %i.fa.fa-bars.Icon__IconComponent-s1trxl8a-0.kcezVF
                    %p.Header__MenuName-s1qpa6dg-10.cJUfeg メニュー
                  .Header__ActionContent-s1qpa6dg-7.fljAMy
                    .Header__IconWrapper-s1qpa6dg-9.jvNget
                      .UserIcon__Circle-s1syoupw-0.bKYYSg{:size => "32"}
                        %img.UserIcon__Image-s1syoupw-1.kMfgAx{:alt => "平野 宏明2", :src => "./room_facilty_files/default_user.png"}/
              .Header__Base-s1qpa6dg-1.flyNvv
              .Container__MobileMenuContainer-oguzdc-0.fsccta
                .Content__MobileMenuContent-gezr6w-0.iKSsVW
                  .CloseRow__Container-ik7cvt-0.jJXLRR
                    %span.CloseRow-ik7cvt-1.hGWfYc
                      %i.fa.fa-times.Icon__IconComponent-s1trxl8a-0.jmqxmT>
                      閉じる
                  .GuestRow__Container-h1uu5k-0.jvbOo
                    .GuestRow__UserIconWrapper-h1uu5k-1.kJfRdv
                      .UserIcon__Circle-s1syoupw-0.kqMBVA{:size => "24"}
                        %img.UserIcon__Image-s1syoupw-1.kMfgAx{:alt => "平野 宏明2", :src => "./room_facilty_files/default_user.png"}/
                    .GuestRow__Name-h1uu5k-2.cFQGIk 平野 宏明2
                  .Section-s1yevgir-0.jrXTrA
                    .SectionTitle__Container-zd4nhm-0.ixCwXE
                      %p.SectionTitle__Title-zd4nhm-1.izLYcq メニュー
                    %div
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw ダッシュボード
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw カレンダー
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw 受信トレイ
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.duewck スペース管理
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw 実績
                      .MenuItem__Container-yj7vq8-0.bmZzzE
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw 設定
                    %div
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw ヘルプ
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw お問い合わせ
                      .MenuItem__Container-yj7vq8-0.clqIRn
                        %p.MenuItem__Name-yj7vq8-1.hZzyvw ホスト規約
                  .Section-s1yevgir-0.dgKvTo
                    .SectionTitle__Container-zd4nhm-0.emdfIX
                      %p.SectionTitle__Title-zd4nhm-1.izLYcq ホスト切り替え
                    .HostRow__Container-ir9n7r-0.daYFWY
                      %p.HostRow__Name-ir9n7r-1.eZElpY 平野 宏明2
                  .Section-s1yevgir-0.dgKvTo
                    .SectionTitle__Container-zd4nhm-0.emdfIX
                      %p.SectionTitle__Title-zd4nhm-1.izLYcq サービス
                    .MenuItem__Container-yj7vq8-0.clqIRn
                      %p.MenuItem__Name-yj7vq8-1.hZzyvw SPACEMARKET
                    .MenuItem__Container-yj7vq8-0.clqIRn
                      %p.MenuItem__Name-yj7vq8-1.hZzyvw SPACEMARKET STAY
                  .Section-s1yevgir-0.hrBbhu
                    .MenuItem__Container-yj7vq8-0.clqIRn
                      %p.MenuItem__Name-yj7vq8-1.hZzyvw お問い合わせ
                    .MenuItem__Container-yj7vq8-0.clqIRn
                      %p.MenuItem__Name-yj7vq8-1.hZzyvw ホスト規約
                  .LogoutRow__Container-s1vprhu0-0.kwucaZ
                    %p.LogoutRow__Text-s1vprhu0-1.gtcwOy ログアウト
          %div
            %div
              .FloatHeadBase__Wrapper-lacb9p-1.kYhDtH
                .FloatHeadBase__Container-lacb9p-2.hObEwM
                  .FloatHeadBase__TableContainer-lacb9p-3.bCssY
                    .FloatHeadBase__LeftContents-lacb9p-4.jPHxCB
                      %div
                        %h1.Title__H1-t4ey0h-0.gwZUcG 新規スペースの作成
                    .FloatHeadBase__RightContents-lacb9p-5.joeEpC{:width => "100"}
                      %div
                        .FloatHeadRoomCreateFlow__RentTypeInnerPc-s1sl0ggl-0.eaIZwl
                          %span.Status-s141h2to-0.gNYqTp
                            %span.Status__Content-s141h2to-1.cotwYs 時間貸し
                        .FloatHeadRoomCreateFlow__RentTypeInnerSp-s1sl0ggl-1.eSGttO
                          %span.Status-s141h2to-0.gNYqTp
                            %span.Status__Content-s141h2to-1.cotwYs 時間貸し
                    .FloatHeadBase__AdditionalContents-lacb9p-6.cGQLUW{:width => "500"}
                      .FloatHeadRoomCreateFlow__FlowArrowsContainer-s1sl0ggl-2.dTQPtj
                        %ul.FlowArrows__Container-s2gtzi9-0.hpVCJT
                          %li.FlowArrows__FlowArrow-s2gtzi9-1.hHkLbE{:type => "active"}
                            .FlowArrows__FlowArrowActive-s2gtzi9-2.inwiNr 1  施設情報
                          %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 2  基本情報
                          %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 3  説明文
                          %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 4  写真
                          %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 5  プラン
                  .FloatHeadBase__AdditionalContentsSp-lacb9p-7.gMNcRC
                    .FloatHeadRoomCreateFlow__FlowArrowsContainer-s1sl0ggl-2.dTQPtj
                      %ul.FlowArrows__Container-s2gtzi9-0.hpVCJT
                        %li.FlowArrows__FlowArrow-s2gtzi9-1.hHkLbE{:type => "active"}
                          .FlowArrows__FlowArrowActive-s2gtzi9-2.inwiNr 1  施設情報
                        %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 2  基本情報
                        %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 3  説明文
                        %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 4  写真
                        %li.FlowArrows__FlowArrow-s2gtzi9-1.bnQagT{:type => "yet"} 5  プラン
                .FloatHeadBase__Base-lacb9p-0.idoswT
              %div
                .MainContentsWithHint__Inner-s43t7cy-0.fYuviU
                  .MainContentsWithHint__Wrapper-s43t7cy-1.fhdrRw
                    .MainContentsWithHint__MainWrapper-s43t7cy-4.xwgbt
                      .MainContentsWithHint__Main-s43t7cy-3.dJvGel
                        .SpaceInfoPage__TitleContainer-s14gdl5y-1.khOLbJ
                          %h1.Title__H1-t4ey0h-0.gwZUcG 1 施設情報
                          .SpaceInfoPage__Description-s14gdl5y-3.btrzhK スペースの場所や連絡先に関する情報です。
                          .SpaceInfoPage__SideButtonContainer-s14gdl5y-2.elSZaH
                            .ButtonBase__ButtonComponent-s1auhjtr-1.gzKpGK
                              %span.ButtonBase__ButtonInner-s1auhjtr-2.hOmAKq 以前作成した施設情報を利用
                        %div
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "郵便番号"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "郵便番号"} 郵便番号
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP ハイフンなしの半角数字。入力すると住所が自動補完されます。
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              %div
                                .InputContainer__Container-s1tkgbcm-0.bEqpLy{:width => "150px"}
                                  %input.ant-input.ant-input-lg{:placeholder => "郵便番号", :type => "text", :value => ""}/
                                .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                  %p.FormItem__Footer-oe304i-1.hobdkd 例）1600023
                                .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "都道府県・市区町村"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "都道府県・市区町村"} 都道府県・市区町村
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              .PartsContainer-s1t3r52x-0.jrSGTR{:spacing => "8"}
                                .PartsContainer__Container-s1t3r52x-1.ifauPR{:spacing => "8"}
                                  %div
                                    .ant-select-lg.ant-select.ant-select-enabled
                                      .ant-select-selection.ant-select-selection--single{"aria-autocomplete" => "list", "aria-expanded" => "false", "aria-haspopup" => "true", :role => "combobox", :tabindex => "0"}
                                        .ant-select-selection__rendered
                                        %span.ant-select-arrow{:style => "user-select: none;", :unselectable => "on"}
                                          %b
                                .PartsContainer__Container-s1t3r52x-1.cCjXth{:spacing => "8"}
                                  %div
                                    .InputContainer__Container-s1tkgbcm-0.fWEMok{:width => "300px"}
                                      %input.ant-input.ant-input-lg{:placeholder => "市区町村", :type => "text", :value => ""}/
                                    .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                      %p.FormItem__Footer-oe304i-1.hobdkd 例）新宿区
                                    .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "町名・番地"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "町名・番地"} 町名・番地
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              %div
                                .InputContainer__Container-s1tkgbcm-0.fWEMok{:width => "300px"}
                                  %input.ant-input.ant-input-lg{:placeholder => "町名・番地", :type => "text", :value => ""}/
                                .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                  %p.FormItem__Footer-oe304i-1.hobdkd 例）西新宿6-15-1
                                .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.GLbGY{:title => "ビル名・部屋番号"} 任意
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:title => "ビル名・部屋番号"} ビル名・部屋番号
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              %div
                                .InputContainer__Container-s1tkgbcm-0.fWEMok{:width => "300px"}
                                  %input.ant-input.ant-input-lg{:placeholder => "ビル名・部屋番号", :type => "text", :value => ""}/
                                .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                  %p.FormItem__Footer-oe304i-1.hobdkd 例）ラ・トゥール新宿608号室
                                .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "地図の設定"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "地図の設定"} 地図の設定
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP ドラッグ&amp;ドロップでピンの位置を変更できます。
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              .CreateSpaceSections__FormItemInputAccessWrapper-s1wvvxt2-2.hvDzyp
                                %div{:style => "width: 100%; height: 100%; margin: 0px; padding: 0px; position: relative;"}
                                  %div{:style => "width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px; padding: 0px; position: absolute; overflow: hidden;"}
                                    %div{:style => "height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"}
                                      .gm-style{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"}
                                        %div{:style => "position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(\"https://maps.gstatic.com/mapfiles/openhand_8_8.cur\"), default; touch-action: none;", :tabindex => "0"}
                                          %div{:style => "z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"}
                                            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"}
                                              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                                                %div{:style => "position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -169, -23);"}
                                                  %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                                  %div{:style => "position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                                  %div{:style => "position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                                  %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                                  %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                                  %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"}
                                                    %div{:style => "width: 256px; height: 256px;"}
                                            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"}
                                            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"}
                                            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"}
                                            %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 0;"}
                                              %div{:style => "position: absolute; z-index: 985; transform: matrix(1, 0, 0, 1, -169, -23);"}
                                                %div{:style => "position: absolute; left: -256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                                %div{:style => "position: absolute; left: -256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt(1)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                                %div{:style => "position: absolute; left: 0px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt(2)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                                %div{:style => "position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt(3)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                                %div{:style => "position: absolute; left: 256px; top: -256px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt(4)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                                %div{:style => "position: absolute; left: 256px; top: 0px; width: 256px; height: 256px; transition: opacity 200ms linear 0s;"}
                                                  %img{:alt => "", :draggable => "false", :role => "presentation", :src => "./room_facilty_files/vt(5)", :style => "width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"}/
                                          .gm-style-pbc{:style => "z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"}
                                            %p.gm-style-pbt
                                          %div{:style => "z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"}
                                            %div{:style => "z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);"}
                                              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"}
                                              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"}
                                              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"}
                                                %div{:style => "background-color: transparent; position: absolute; left: 0px; top: 0px; width: 1440px; height: 900px;"}
                                                  %div{:style => "width: 100%; height: 100%; left: 0px; top: 0px; margin: 0px; padding: 0px; position: absolute;"}
                                                    %div{:style => "width: 0px; height: 0px; left: -0.388542px; top: -0.358974px; background-color: transparent; position: absolute;"}
                                                      %img.FormItemInputAccess__Marker-s72echm-0.lhWNUS{:role => "presentation", :src => "./room_facilty_files/map-icon-013f4ea493.png"}/
                                              %div{:style => "position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"}
                                        %iframe{"aria-hidden" => "true", :frameborder => "0", :src => "./room_facilty_files/saved_resource.html", :style => "z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"}
                                        %div{:style => "margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"}
                                          %a{:href => "https://maps.google.com/maps?ll=35.692206,139.687412&z=15&t=m&hl=ja&gl=US&mapclient=apiv3", :rel => "noopener", :style => "position: static; overflow: visible; float: none; display: inline;", :target => "_blank", :title => "クリックすると Google マップでこの地域を表示します"}
                                            %div{:style => "width: 66px; height: 26px; cursor: pointer;"}
                                              %img{:alt => "", :draggable => "false", :src => "./room_facilty_files/google_white5.png", :style => "position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"}/
                                        %div{:style => "background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 100px; top: 60px;"}
                                          %div{:style => "padding: 0px 0px 10px; font-size: 16px;"} 地図データ
                                          %div{:style => "font-size: 13px;"} 地図データ ©2018 Google, ZENRIN
                                          %button.gm-ui-hover-effect{"aria-label" => "Close", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: absolute; cursor: pointer; user-select: none; top: 0px; right: 0px; width: 37px; height: 37px;", :title => "Close", :type => "button"}
                                            %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "pointer-events: none; display: block; width: 13px; height: 13px; margin: 12px;"}/
                                        .gmnoprint{:style => "z-index: 1000001; position: absolute; right: 52px; bottom: 0px; width: 179px;"}
                                          .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px;"}
                                            %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                                              %div{:style => "width: 1px;"}
                                              %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                                            %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                                              %a{:style => "text-decoration: none; cursor: pointer; display: none;"} 地図データ
                                              %span 地図データ ©2018 Google, ZENRIN
                                        .gmnoscreen{:style => "position: absolute; right: 0px; bottom: 0px;"}
                                          %div{:style => "font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);"} 地図データ ©2018 Google, ZENRIN
                                        .gmnoprint.gm-style-cc{:draggable => "false", :style => "z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"}
                                          %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                                            %div{:style => "width: 1px;"}
                                            %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                                          %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                                            %a{:href => "https://www.google.com/intl/ja_US/help/terms_maps.html", :rel => "noopener", :style => "text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);", :target => "_blank"} 利用規約
                                        %button.gm-control-active.gm-fullscreen-control{"aria-label" => "全画面ビューを切り替えます", :draggable => "false", :style => "background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 0px; right: 0px;", :title => "全画面ビューを切り替えます", :type => "button"}
                                          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 11px;"}/
                                          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 11px;"}/
                                          %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 11px;"}/
                                        .gm-style-cc{:draggable => "false", :style => "user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"}
                                          %div{:style => "opacity: 0.7; width: 100%; height: 100%; position: absolute;"}
                                            %div{:style => "width: 1px;"}
                                            %div{:style => "background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"}
                                          %div{:style => "position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"}
                                            %a{:href => "https://www.google.com/maps/@35.6922055,139.6874118,15z/data=!10m1!1e1!12b1?source=apiv3&rapsrc=apiv3", :rel => "noopener", :style => "font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;", :target => "_blank", :title => "Google に地図や画像のエラーを報告する"} 地図の誤りを報告する
                                        .gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{:controlheight => "81", :controlwidth => "40", :draggable => "false", :style => "margin: 10px; user-select: none; position: absolute; bottom: 95px; right: 40px;"}
                                          .gmnoprint{:controlheight => "81", :controlwidth => "40", :style => "position: absolute; left: 0px; top: 0px;"}
                                            %div{:draggable => "false", :style => "user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 40px; height: 81px;"}
                                              %button.gm-control-active{"aria-label" => "ズームイン", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;", :title => "ズームイン", :type => "button"}
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 9px 11px 13px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23333%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 9px 11px 13px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpolygon%20fill%3D%22%23111%22%20points%3D%2218%2C7%2011%2C7%2011%2C0%207%2C0%207%2C7%200%2C7%200%2C11%207%2C11%207%2C18%2011%2C18%2011%2C11%2018%2C11%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 9px 11px 13px;"}/
                                              %div{:style => "position: relative; overflow: hidden; width: 30px; height: 1px; margin: 0px 5px; background-color: rgb(230, 230, 230); top: 0px;"}
                                              %button.gm-control-active{"aria-label" => "ズームアウト", :draggable => "false", :style => "background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; overflow: hidden; width: 40px; height: 40px; top: 0px; left: 0px;", :title => "ズームアウト", :type => "button"}
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 13px 11px 9px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 13px 11px 9px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C7h18v4H0V7z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 18px; width: 18px; margin: 13px 11px 9px;"}/
                                          .gmnoprint{:controlheight => "40", :controlwidth => "40", :style => "display: none; position: absolute;"}
                                            %div{:style => "width: 40px; height: 40px;"}
                                              %button.gm-control-active{"aria-label" => "Rotate map 90 degrees", :draggable => "false", :style => "background: none rgb(255, 255, 255); display: none; border: 0px; margin: 0px 0px 32px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;", :title => "Rotate map 90 degrees", :type => "button"}
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 28px; width: 28px; margin: 6px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 28px; width: 28px; margin: 6px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20fill-rule%3D%22evenodd%22%20d%3D%22M20%2010c0-5.52-4.48-10-10-10s-10%204.48-10%2010v5h5v-5c0-2.76%202.24-5%205-5s5%202.24%205%205v5h-4l6.5%207%206.5-7h-4v-5z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "height: 28px; width: 28px; margin: 6px;"}/
                                              %button.gm-tilt.gm-control-active{"aria-label" => "Tilt map", :draggable => "false", :style => "background: none rgb(255, 255, 255); display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 40px; height: 40px; top: 0px; left: 0px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;", :title => "Tilt map", :type => "button"}
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px; height: 16px; margin: 12px 11px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px; height: 16px; margin: 12px 11px;"}/
                                                %img{:src => "data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2018%2016%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C16h8V9H0V16z%20M10%2C16h8V9h-8V16z%20M0%2C7h8V0H0V7z%20M10%2C0v7h8V0H10z%22%2F%3E%0A%3C%2Fsvg%3E%0A", :style => "width: 18px; height: 16px; margin: 12px 11px;"}/
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "アクセス"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "アクセス"} アクセス
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP 最寄駅からの歩き方や所要時間、高速道路の出口などを入力してください。
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              %div
                                %textarea.ant-input{:placeholder => "アクセス", :rows => "4"}
                                .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                  %p.FormItem__Footer-oe304i-1.hobdkd 例）JR新宿駅西口より徒歩7分
                                .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "電話番号"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "電話番号"} 電話番号
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP この情報は予約が確定次第ゲストに送信される利用日程表で開示されます。
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              %div
                                .InputContainer__Container-s1tkgbcm-0.bEqpLy{:width => "150px"}
                                  %input.ant-input.ant-input-lg{:placeholder => "電話番号", :type => "text", :value => ""}/
                                .FormItem__FooterWrapper-oe304i-0.eNbmrR
                                  %p.FormItem__Footer-oe304i-1.hobdkd 例）09012345678
                                .FormItem__ErrorsWrapper-oe304i-6.hkpnKw
                          .CreateSpaceSections__Section-s1wvvxt2-0.hOrolE
                            .FormSectionTitle__Container-c7fd1f-0.eyYfBT
                              .FormSectionTitle__TitleContainer-c7fd1f-1.gkmYeE
                                .FormSectionTitle__RequiredLabel-c7fd1f-2.iUIKzt{:required => "", :title => "施設の種類"} 必須
                                .FormSectionTitle__Title-c7fd1f-3.PGXbO{:required => "", :title => "施設の種類"} 施設の種類
                              %pre.FormSectionTitle__Description-c7fd1f-4.bUBbeP
                            .CreateSpaceSections__FormWrapper-s1wvvxt2-1.juEqgI
                              .RadioList__Container-s1lg1rna-0.ehfSIl
                                .ant-radio-group
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "event_space"}/
                                        %span.ant-radio-inner
                                      %span イベントスペース
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "wedding"}/
                                        %span.ant-radio-inner
                                      %span 結婚式場
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "office"}/
                                        %span.ant-radio-inner
                                      %span オフィススペース
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "hall"}/
                                        %span.ant-radio-inner
                                      %span ホール
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "meeting_space"}/
                                        %span.ant-radio-inner
                                      %span 貸し会議室
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "studio"}/
                                        %span.ant-radio-inner
                                      %span スタジオ
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "cafe"}/
                                        %span.ant-radio-inner
                                      %span カフェ
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "restaurant"}/
                                        %span.ant-radio-inner
                                      %span レストラン
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "theatre"}/
                                        %span.ant-radio-inner
                                      %span 映画館
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "gallery"}/
                                        %span.ant-radio-inner
                                      %span ギャラリー
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "bar"}/
                                        %span.ant-radio-inner
                                      %span バー
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "sports_facilities"}/
                                        %span.ant-radio-inner
                                      %span スポーツ施設
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "hotel"}/
                                        %span.ant-radio-inner
                                      %span ホテル
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "residential"}/
                                        %span.ant-radio-inner
                                      %span 住宅
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "warehouse"}/
                                        %span.ant-radio-inner
                                      %span 倉庫
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "winaery"}/
                                        %span.ant-radio-inner
                                      %span ワイナリー・蔵
                                  %span.RadioList__Wrapper-s1lg1rna-4.llupMj
                                    %label.ant-radio-wrapper
                                      %span.ant-radio
                                        %input.ant-radio-input{:type => "radio", :value => "other"}/
                                        %span.ant-radio-inner
                                      %span その他
                        %div
                          .FloatBottom__Container-s17e5lwc-1.iQptKJ
                            .FloatBottom__Line-s17e5lwc-3.gUNchP
                            .FloatBottom__Content-s17e5lwc-2.jdfHkt
                              .SpaceInfoPage__FloatBottomButtonContainer-s14gdl5y-0.lkHjZJ
                                %a.ButtonBase__ButtonComponent-s1auhjtr-1-a.koanzx{:disabled => "disabled", :type => "anchor"}
                                  %span.ButtonBase__ButtonInner-s1auhjtr-2.hOmAKq 保存して戻る
                              .SpaceInfoPage__FloatBottomButtonContainer-s14gdl5y-0.dnmDVr
                                %a.ButtonBase__ButtonComponent-s1auhjtr-1-a.gbnyZH{:disabled => "disabled", :type => "anchor"}
                                  %span.ButtonBase__ButtonInner-s1auhjtr-2.hOmAKq 保存して進む
                          .FloatBottom__Base-s17e5lwc-0.JlHJk
                    .MainContentsWithHint__HintWrapper-s43t7cy-2.gUaNAy
    %noscript
      / Google Tag Manager (noscript)
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-NZ8DJPK&gtm_auth=H1icGu_E4ABvnCzHsOcJyA&gtm_preview=env-2&gtm_cookies_win=x", :style => "display:none;visibility:hidden", :width => "0"}
      / End Google Tag Manager (noscript)
    :javascript
      window.__SPM_PRELOADED_STATE__ = {"account":{"currentUser":{"id":243857,"name":"平野 宏明２","username":"8m1ePx2PGmndZted","cancel_count":0,"reputation_count":0,"reputation_score":"0.0","friendly_id":"8m1ePx2PGmndZted","created_at":"2018-10-22T13:48:35.000+09:00","updated_at":"2018-10-30T20:15:07.000+09:00","deleted_at":null,"profile_image":"https://cdnspacemarket.com/images/api/default_user.png","profile":null,"is_certificated":false,"email":"hirohiranoc01@gmail.com","time_zone":"Asia/Tokyo","contact":null,"phone":null,"has_certificate":false,"certificate_status":0,"certificate":{"url":null,"name":null},"point_balance":{"id":239375,"available_amount":2000,"pending_amount":0,"expiring_amount":1000,"available_amount_text":"2,000","pending_amount_text":"0","expiring_amount_text":"1,000"},"default_owner_id":14793,"is_corp":null,"corp_name":null,"contact_name":null,"is_verified_email":true,"is_verified_facebook":false,"is_verified_tel":false,"enable_card":false,"has_confirmed_phone":false,"is_admin":false,"is_spacemarket":false,"has_paid_account":false,"paid_account_status":null,"referral_token":"lQmWFakurcHE7wYW","is_bank_postpay_available":true,"my_areas":[],"favorite_room_ids":[],"owners":[{"id":14793,"username":"r2beerctihqfpsij","profile":null,"is_corp":false,"corp_name":null,"corp_name_kana":null,"status":0,"rank":0,"profile_image":"https://cdnspacemarket.com/images/api/default_user.png","name":"平野 宏明2","name_kana":"平野 宏明2","is_verified_email":true,"is_verified_tel":false,"has_unread_reservation":false}],"setting":{"id":247601,"can_receive_feature_mail":true,"can_receive_reminder_mail":true,"can_receive_action_mail":true,"can_receive_feature_push":true,"can_receive_reminder_push":true,"can_receive_reservation_push":true,"can_receive_action_push":true,"can_receive_coupon_mail":true,"can_receive_reservation_mail":true,"can_receive_recommend_mail":true,"can_receive_recommend_push":true,"created_at":"2018-10-22T13:48:37.000+09:00","updated_at":"2018-10-22T13:48:37.000+09:00"}},"currentOwner":{"id":14793,"username":"r2beerctihqfpsij","profile":null,"is_corp":false,"corp_name":null,"corp_name_kana":null,"status":0,"rank":0,"profile_image":"https://cdnspacemarket.com/images/api/default_user.png","name":"平野 宏明2","name_kana":null,"is_verified_email":true,"is_verified_tel":false,"has_unread_reservation":false,"country_id":1,"homepage":null,"cancel_count":0,"card_status":null,"corp_name_en":null,"room_display_type":0,"price_display_type":0,"reply_time_avg":null,"reply_rate":null,"confirm_rate":null,"reputation_count":0,"reputation_score":"0.0","deleted_at":null,"created_at":"2018-10-30T20:15:04.000+09:00","updated_at":"2018-10-30T20:15:04.000+09:00","friendly_id":"r2beerctihqfpsij","is_listed_guesthouse":false,"user_tel_display_type":0,"enable_card":0,"state":null,"state_text":null,"status_text":"未掲載申請","reply_time_avg_text":"-","reply_time_avg_evaluation":0,"reply_rate_text":"- %","reply_rate_evaluation":0,"confirm_rate_text":"-","confirm_rate_evaluation":0,"enable_jcb_cards":false,"postal_code":null,"city":null,"city_kana":null,"address_1":null,"address_2":null,"address_3":null,"address_kana":"","address_1_kana":null,"address_2_kana":null,"address_3_kana":null,"industry_id":null,"industry":"industry_","job_id":null,"job":"job_","family_name":null,"family_name_kana":null,"given_name":null,"given_name_kana":null,"ceo_name":null,"ceo_name_kana":null,"corp_found_date":null,"card_status_text":{"created":"提出済","investigating":"審査中","activated":"審査済","declined":"審査NG","locked":"ロック中"},"fee":0.3,"food_fee":0.2,"is_certificated":false,"has_certificate":false,"certificate":{"name":null,"url":null},"has_personal_certificate":false,"personal_certificate":{"name":null,"url":null},"birth_date":null,"ceo_birth_date":null,"email":"hirohiranoc01@gmail.com","tel":null,"fax":null,"guesthouse_license":{"name":null,"url":null},"has_bank_account":false,"owners_users":[{"id":46820,"user_id":243857,"owner_id":14793,"user":{"id":243857,"name":"平野 宏明２","username":"8m1ePx2PGmndZted","cancel_count":0,"reputation_count":0,"reputation_score":"0.0","friendly_id":"8m1ePx2PGmndZted","created_at":"2018-10-22T13:48:35.000+09:00","updated_at":"2018-10-30T20:15:07.000+09:00","deleted_at":null,"profile_image":"https://cdnspacemarket.com/images/api/default_user.png","profile":null,"is_certificated":false,"email":"hirohiranoc01@gmail.com","time_zone":"Asia/Tokyo","contact":null,"phone":null,"has_certificate":false,"certificate_status":0,"certificate":{"url":null,"name":null},"point_balance":{"id":239375,"available_amount":2000,"pending_amount":0,"expiring_amount":1000,"available_amount_text":"2,000","pending_amount_text":"0","expiring_amount_text":"1,000"},"default_owner_id":14793,"is_corp":null,"corp_name":null,"contact_name":null,"is_verified_email":true,"is_verified_facebook":false,"is_verified_tel":false,"enable_card":false,"has_confirmed_phone":false,"is_admin":false,"is_spacemarket":false,"has_paid_account":false,"paid_account_status":null}}],"has_account":false,"has_address":false,"business_tax_id":null,"gender":null,"personal_postal_code":null,"personal_state":null,"personal_city":null,"personal_address_1":null,"personal_address_2":null,"personal_address_3":null,"personal_city_kana":null,"personal_address_1_kana":null,"personal_address_2_kana":null,"personal_address_3_kana":null,"card_account_status":"pending","verification_phase":{"status":0,"unverified_reason":null,"setup_needed":[5,6,7,0,1,2,3,4]},"card_account_disabled":false,"is_setup_account_completed":false,"is_setup_address_completed":false,"is_setup_bank_account_completed":false},"bankAccount":{},"notificationSetting":{},"stateList":[],"hasChangedOwner":false,"googleAccount":{},"roomList":[]},"ui":{},"dashboard":{"summary":[],"graphData":[0,0,0,0,0,0,0,0,0,0,0,0],"notReplyMessages":[],"nextNotReplyMessagesPage":1,"hasMoreNotReplyMessages":true,"notConfirmReservations":[],"nextNotConfirmReservationsPage":1,"hasMoreNotConfirmReservations":true,"notReviewReservations":[],"nextNotReviewReservationsPage":1,"hasMoreNotReviewReservations":true},"achievement":{"roomList":[],"rankingRoomList":[],"summary":{},"graph":[],"roomId":null,"reputationRoomId":null,"year":2018,"month":10,"graphYear":2018,"hasMoreRoom":true,"roomListNextPage":1,"reputationStats":{},"nextReputationStatsPage":1,"hasMoreReputation":true,"sales":[],"salesCount":0,"nextSalesPage":1,"hasMoreSales":true,"salesYear":2018,"salesMonth":10,"salesPrint":{}},"calendar":{"year":null,"month":null,"calendar":[]},"inbox":{"rooms":[],"statuses":[],"reservations":[],"nextPage":1,"hasMoreReservation":false},"reservation":{"detail":{},"currentRoom":{},"messages":[],"nextMessagePage":1,"hasMoreData":true},"config":{"SSR":true,"ENV":"production","SPM_HOST":"https://dashboard.spacemarket.com","SPM_REST_API_HOST":"https://api.spacemarket.com","SPM_REST_API_KEY":"971de6ddfe9077b976433cdcd0cc8835598a11f83583eb125a620d90ce0e5b22","SPM_REST_API_VERSION":"2017-05-10","FB_APP_ID":"678204625537207","STRIPE_PUBLISHABLE_KEY":"pk_live_RAHXVMeXviHqnmJmaeaZU0jU","SPM_GOOGLE_API_KEY":"AIzaSyCupA7WE6KpunAaTCz0OVC0eagKylRs3ts","ORIGIN":"https://dashboard.spacemarket.com","URL":"https://dashboard.spacemarket.com/r2beerctihqfpsij/rooms/new","SERVICE":"dashboard","SPM_PUSHER_KEY":"2e22d9c5e402b7e7ad23","SPM_RENTAL_HOST":"https://spacemarket.com","SPM_STAY_HOST":"https://stay.spacemarket.com","SENTRY_DSN":"https://decc36aaceaf41eaa2e359e9d1b6b9db@sentry.io/1192809","SPM_PWA_ONESIGNAL_PROJECT_ID":"d51b6b6b-6cc0-4218-a655-784774e41708"},"room":{"spaceList":[],"roomList":[]},"roomCreateFlow":{"spaceList":[],"editingRoom":null,"editingRoomSettingType":"rental_room_setting","editingRoomSettingPlanIndex":0,"editingOption":{},"editingPlan":{},"stateList":[],"spaceTypeList":[],"eventTypeList":[],"keyPassList":[],"startAcceptList":[],"endAcceptList":[],"roomTypeList":[],"amenityList":[],"stayAmenityList":[],"stayCertificationTypeList":[],"planDiscountPercentageList":[],"uploadStayCertificationFile":null,"hasChanged":false},"notifications":{"unreadNotificationsCount":0,"messages":{"announcements":[],"notifications":[]},"todos":[],"isMessageFetching":false,"hasMoreData":true,"nextPage":1}};
      window.__SPM_MANIFEST__ = {"common/map-icon.png":"//cdn.spacemarket.net/packs-production/images/common/map-icon-013f4ea493.png","common/ogimage.jpg":"//cdn.spacemarket.net/packs-production/images/common/ogimage-1ff7aca06b.jpg","common/spm-spin.svg":"//cdn.spacemarket.net/packs-production/images/common/spm-spin-287666073a.svg","common/user_default_white.png":"//cdn.spacemarket.net/packs-production/images/common/user_default_white-35d0c49a4f.png","error/error_main-visual.png":"//cdn.spacemarket.net/packs-production/images/error/error_main-visual-b531f0a846.png","favicon.ico":"//cdn.spacemarket.net/packs-production/images/favicon-50a9cc64dc.ico","feature_create_host.svg":"//cdn.spacemarket.net/packs-production/images/feature_create_host-b8b5a27b23.svg","feature_create_space.svg":"//cdn.spacemarket.net/packs-production/images/feature_create_space-cce4566681.svg","file.svg":"//cdn.spacemarket.net/packs-production/images/file-935c1b4472.svg","host-dash_logo.svg":"//cdn.spacemarket.net/packs-production/images/host-dash_logo-861777cbc7.svg","host-dash_logo_icon.svg":"//cdn.spacemarket.net/packs-production/images/host-dash_logo_icon-cab154f523.svg","host-dash_logo_text.svg":"//cdn.spacemarket.net/packs-production/images/host-dash_logo_text-4482d6465a.svg","identity_document.svg":"//cdn.spacemarket.net/packs-production/images/identity_document-1125b4a186.svg","logo.svg":"//cdn.spacemarket.net/packs-production/images/logo-97ba15ef37.svg","logo_stay.svg":"//cdn.spacemarket.net/packs-production/images/logo_stay-9fdd558d57.svg","print/company_seal.jpg":"//cdn.spacemarket.net/packs-production/images/print/company_seal-3a021b6e2f.jpg","print/logo_spacemarket.png":"//cdn.spacemarket.net/packs-production/images/print/logo_spacemarket-b3dfdb269a.png","dashboard/client.js":"//cdn.spacemarket.net/packs-production/dashboard/client-6b1c42dd018a3452baec.js","dashboard/client.js.map":"//cdn.spacemarket.net/packs-production/dashboard/client-6b1c42dd018a3452baec.js.map","dashboard/main.css":"//cdn.spacemarket.net/packs-production/dashboard/main-a9a55dd4144a5e07e552.css","dashboard/main.css.map":"//cdn.spacemarket.net/packs-production/dashboard/main-a9a55dd4144a5e07e552.css.map","dashboard/main.js":"//cdn.spacemarket.net/packs-production/dashboard/main-f4ae6c580af6270a5453.js","dashboard/main.js.map":"//cdn.spacemarket.net/packs-production/dashboard/main-f4ae6c580af6270a5453.js.map","dashboard/print.css":"//cdn.spacemarket.net/packs-production/dashboard/print-a9a55dd4144a5e07e552.css","dashboard/print.css.map":"//cdn.spacemarket.net/packs-production/dashboard/print-a9a55dd4144a5e07e552.css.map","dashboard/print.js":"//cdn.spacemarket.net/packs-production/dashboard/print-1256b962821a8c6eab53.js","dashboard/print.js.map":"//cdn.spacemarket.net/packs-production/dashboard/print-1256b962821a8c6eab53.js.map","fonts.eot":"//cdn.spacemarket.net/packs-production/fonts-48f09257e3b31f651ce3307e9c49d443.eot","fonts.svg":"//cdn.spacemarket.net/packs-production/fonts-def2b4e171b21afe2e6628a02d9187e6.svg","fonts.ttf":"//cdn.spacemarket.net/packs-production/fonts-7e4fde96881caafff7b1022ce5614736.ttf","fonts.woff":"//cdn.spacemarket.net/packs-production/fonts-d6c1f1a5ae0bfa44802ffc32f9c80c99.woff","staging/main.css":"//cdn.spacemarket.net/packs-production/staging/main-a9a55dd4144a5e07e552.css","staging/main.css.map":"//cdn.spacemarket.net/packs-production/staging/main-a9a55dd4144a5e07e552.css.map","staging/main.js":"//cdn.spacemarket.net/packs-production/staging/main-e85e8a67f517265e2d5b.js","staging/main.js.map":"//cdn.spacemarket.net/packs-production/staging/main-e85e8a67f517265e2d5b.js.map"};
      window.__SPM_TRANSLATION__ = {"translation":{"locale":"ja","spacemarket":"スペースマーケット","page":{"header":{"dashboard":"ダッシュボード","calendar":"カレンダー","achievements":"実績","inbox":"受信トレイ","hostManageRoom":"スペース管理","setting":"設定","help":"ヘルプ","inquiry":"お問い合わせ","host_agreement":"ホスト規約","important_notification":"重要なお知らせ","todo_notification":"やることリスト","notification":"お知らせ","todo":"やること","menu":"メニュー","change_host":"ホスト切り替え","service_name":"サービス","logout":"ログアウト"},"sidebar":{"AskLendAsStay":"追加情報を登録して、\n宿泊として貸し出してみませんか？","AskLendAsRental":"追加情報を登録して、\n時間貸ししてみませんか？","lendAsStay":"このスペースを宿泊で貸し出す","lendAsRental":"このスペースを時間貸しする","typingStayInfo":"宿泊情報を入力中です。\n完成させて公開しましょう！","typingRentalInfo":"時間貸し情報を入力中です。\n完成させて公開しましょう！","inputStayInfo":"宿泊情報を入力する","inputRentalInfo":"時間貸し情報を入力する","requestReview":"審査を依頼する","postRental":"SPACEMARKETに掲載","postStay":"SPACEMARKET STAYに掲載","guideForPublic":"※公開するためには審査が必要です。","guideForReviewing":"※審査には数日かかります。","requestReReview":"再度審査を依頼する","NotPassReview":"審査に通過できませんでした。\n登録情報に不備がないか確認してください。"},"firstFlow":{"flowPublishedSpace":"スペース掲載までの流れ","flowPublishedSpaceDesc":"スペースの作成とホスト情報を登録して、掲載審査に通過するとスペースを掲載することができます。\n掲載審査申請後でもスペースの編集はいつでも可能です。また、さらに詳しい情報も申請後から設定できるようになります。","settingHostInfo":"ホスト情報の設定","officerName":"担当者氏名","familyName":"姓","firstName":"名","familyNameExample":"例）山田","firstNameExample":"例）太郎","chineseCharacters":"漢字","phonetic":"フリガナ","phoneticAcronym":"カナ","phoneticFamilyNameExample":"例）ヤマダ","phoneticFirstNameExample":"例）タロウ","familyNamePhonetic":"セイ","firstNamePhonetic":"メイ","gender":"性別","male":"男性","female":"女性","birthday":"生年月日","profileImage":"プロフィール画像","identityDocument":"身分証明書類","identityDocumentDesc":"以下のうち、いずれかの画像をアップロードしてください。","identityDocumentExample":"免許証 / パスポート / 住基カード","useColorImage":"※カラーの画像をご用意ください。","sendLicenseSurface":"※免許証は写真の入った表面のみをお送りください。","sendPassportSurface":"※パスポートは写真の入ったページと外務大臣印のあるページの見開きをお送りください。","basicResidentRegisterCardSurface":"※住基カードは写真の入った表面のみをお送りください。","useEasyReadImage":"※証明書部分が切れていないこと、影や反射がないこと、ピントがあっていることを確認し、内容が読み取りやすい画像をご用意ください。","privateAndCorporation":"個人・法人","private":"個人","corporation":"法人","privateAndCorporationDesc":"個人か法人のどちらかを選択してください","corporateName":"法人名","formalName":"正式名称","formalNameExample":"例）スペースマーケット","corporateNameDesc":"英語表記はカード明細に利用されます。","corporateNumber":"法人登録番号","corporateNumberExample":"例）012345678","searchCorporateNumber":"法人登録番号を調べる","telExample":"例）09012345678","completeCreatingSpaceGuide":"スペースの作成が完了しました。続いてホスト情報の登録をしましょう！","completeRegisterHostGuide":"ホスト情報の登録が完了しました。続いてスペースの作成をしましょう！","completeAllRegisterGuide":"掲載審査に申請する準備が整いました。審査に出してスペースを掲載しましょう！","completePublishFlowGuide":"掲載審査の提出が完了しました！\n審査完了までしばらくお待ちください。","completePublishFlowDesc":"スペース情報の変更、注意事項やプランなどの詳細設定は、審査中でも「スペース編集」から可能です。\n紹介内容を充実させて、スペースの魅力を最大限伝えましょう！","inviteApplication":"予約の管理やゲストとのやり取りには\nホスト用アプリが便利です！","englishNotation":"英語表記","englishNotationExample":"例）SpaceMarket, inc.","officerAddress":"担当者の住所","resisterInfo":"基本情報で登録した","writeAddressIdentityDocument":"身分証明書類に記載の住所","pleaseInput":"を入力してください。","corporateAddress":"法人の住所","corporateAddressDesc":"基本情報で登録した法人の登記簿謄本に記載された住所を入力してください。","bankAccountDesc":"スペースマーケットからの利用料の振込先を登録してください。普通預金の口座のみ登録できます。","bankName":"銀行名","bankNameFooter":"例）スペースマーケット銀行","bankCode":"銀行コード","bankCodeDesc":"利用料振込先となる銀行口座の銀行コードを入力してください。","bankCodeFooter":"例）1100","searchBankCode":"銀行コードを調べる","branchName":"支店名","branchNameFooter":"例）渋谷店","branchCode":"支店コード","branchCodeDesc":"利用料振込先となる銀行口座の支店コードを入力してください。","searchBranchCode":"支店コードを調べる","branchCodeFooter":"例）110","bankAccountNumber":"口座番号","bankAccountNumberDesc":"普通預金の口座のみ登録できます。","bankAccountNumberFooter":"例）00012345","bankAccountHolder":"口座名義","bankAccountHolderDesc":"カタカナで記入してください。法人の場合は会社名のみ記入してください。","bankAccountHolderFooter":"例）カ）スペースマーケット"},"dashboard":{"title":"ダッシュボード","publishedExam":"掲載審査","doingPublishedExam":"掲載審査中","certification_rejected":"掲載審査に通過することができませんでした。","reasonRejected":"{link}の情報に不備があります。登録内容を確認して再度掲載審査に申請しましょう。","certificationReady":"掲載審査に申請する準備ができました。","certificationInput":"必要な項目を全て入力して掲載審査に申請しましょう！","certificationRequested":"掲載審査中です。審査には２〜３日かかります。","captionRequested":"審査完了までの間、スペースの魅力が伝わるように詳細な設定をしましょう。詳細な設定は{link}からできます。","certificationConfirmed":"掲載審査に通過し、スペースが公開されました！","summaryTitle":"{{- year}}年{{- month}}月の実績","summaryCaption":"手数料を差し引いた、その月に銀行に振り込まれる金額です。","sales":"収益","contract":"成約","operation_per":"稼働率","salesGraphTitle":"収益の推移","notReplyMessages":"未返信のメッセージ","notConfirmedReservation":"未完了の予約リクエスト/お問い合わせ","notReviewed":"未レビュー","academyTitle":"スペースマーケットアカデミー","academyCaption":"人気ホスト・人気スペースになるコツを大公開！\nアクセスUPや成約UPの方法などが学べます。","academy1":"スペース運用ホスト・掲載検討中の方向けのセミナー・個別相談のご案内","academy2":"スペースの空き状況を管理して成約率を上げる","academy3":"アクセスが伸びるページをつくる","academy4":"季節・曜日・時間ごとに価格を変動させ成約数・売上をUPさせる","recommendedFuncTitle":"オススメの機能","googleCalendarTitle":"Googleカレンダー連携","googleCalendarCaption":"スペース予約のカレンダーをGoogleカレンダーにインポート/エクスポートすることで、ダブルブッキングを防げます！","craftBankTitle":"ホスト向け スペース修繕サービス","craftBankCaption":"水漏れ、トイレのつまり、壁の破損など、建物に関するお困りごとを連絡すると、近くの職人が早く・安く・簡単に駆けつけ、解決してくれるサービスです！","inputSpace":"スペース作成","inputCertification":"身分証明書","inputCorp":"法人の設立年月日・代表者の生年月日","inputCropStaff":"担当者の生年月日や住所","inputBankAccount":"振込口座"},"achievements":{"achievements":"実績","summary":"サマリー","summaryDesc":"ゲストの予約リクエスト送信日を基準とした1ヶ月あたりの実績を確認することができます。","ranking":"ランキング","review":"レビュー","reviewDesc":"ゲストに貰ったレビューの確認、返信ができます。レビュー数が増えると予約が入りやすくなります。\nまた、ゲストからのレビューへの返信はリピートにつながります。","revenue":"収益","revenueGuide":"手数料を差し引いた、その月に銀行に振り込まれる金額です。","contractAmount":"成約金額","contractAmountGuide":"スペース利用料に手数料を加算した、その月に成約した金額です。","contractRate":"成約率","approvalRate":"承認率","replyRate":"返答率","averageResponseTime":"平均返答時間","achievementsMenu":"実績メニュー","reviewGuide":"ゲストに貰ったレビューの確認、返信ができます。レビュー数が増えると予約が入りやすくなります。\nまた、ゲストからのレビューへの返信はリピートにつながります。","rankingGuide":"公開しているスペースがおすすめ順で表示された際の表示順位です。\n表示順位が高いほどゲストの目にとまる可能性が高くなり、予約数が増えます。","salesDetail":"売上明細","salesDetailDesc":"売上の振込み予定日と金額を確認できます。ゲストの支払いがクレジットカードの場合は、利用日の14日後にお振込みします。\n銀行振込の場合は、利用日が1日〜20日の時は翌月末。21日以降の時は翌々月末にお振込しみます","all":"全","reviewNumber":"件のレビュー","transferNumber":"件の振込","reply":"返信する","numberOfPeople":"利用人数","purposeUse":"利用目的","commentGuide":"※1度のみ返信ができます。","commentGuideChange":"返信後に内容の変更はできません。","averageReview":"平均レビュー","average":"平均","transferNotice":"支払い通知書","viewWeb":"Webで表示","downloadCsv":"CSVでダウンロード","transferAmountMoney":"振込金額","transferSchedule":"に振込予定","categoryRanking":"時間貸しカテゴリ別ランキング","month":"(月)"},"calendar":{"openMemo":"メモを開く","closeMemo":"メモを閉じる","syncGoogle":"外部カレンダーと連携","emptySchedule":"予約や予定などはありません。","blockCaption":"設定した日時がすべてのプランで貸し出し不可になります。","backToCalendar":"カレンダーに戻る","beginDate":"開始日","endDate":"終了日","rentalCompletion":"時間貸し：予約完了","stayCompletion":"宿泊：完了","scheduled":"予定","rentalRequest":"時間貸し：予約リクエスト","stayRequest":"宿泊：予約リクエスト","notAccept":"貸出不可","selectSpaceTarget":"対象のスペースを選択"},"inbox":{"reservationId":"予約ID：{{- id}}","listTitle":"メッセージ一覧","sortMessaged":"更新日順","sortReserved":"実施日順","purposeUse":"利用目的","utilityForm":"利用形態","numberOfPeople":"人数","applicationDetail":"利用用途の詳細","completionReservationGuide":"承認して予約が完了しました","hostCancelGuide":"予約をホストキャンセルしました","canceledReservation":"予約がゲストキャンセルされました","changedRequestReservation":"予約リクエストに変更されました","acceptRequestReservation":"予約変更リクエストを承諾しました","deniedRequestReservation":"予約変更リクエストを拒否しました","acceptChangeReservation":"予約変更が承諾されました","deniedChangeReservation":"予約変更が拒否されました","denyReservation":"予約を否認しました","inputMessage":"メッセージを入力","inboxTop":"受信トレイトップ ","currentStatus":"現在のステータス","allStatus":"すべてのステータス","pendingStatus":"保留中","confirmedStatus":"承認済み","paidStatus":"支払済み","cancelStatus":"キャンセル","hasChangeRequest":"ゲストから予約変更リクエストあり","sentChangeRequest":"送信した予約変更リクエストあり","hasChangeRequestDesc":"※期限内に承諾または拒否をしてください。","sentChangeRequestDesc":"※ゲストが承諾して変更が完了になります。","changePrice":"料金変更","changePriceRequest":"料金変更リクエスト","changePriceRequestDesc":"利用日の翌日23:59までであれば\n料金変更リクエストを送ることができます。\nゲストが承諾して変更が完了次第、決済が行われます。","changeReservationPeriodDesc":"予約リクエストの変更は、{{- month}}月{{- day}}日 23:59までとなっております。金額等が変更になった場合、期限までに予約変更リクエストをして、ゲストから承諾を得てください。","howToChangeReservation":"予約の変更方法","acceptRequest":"ゲストより予約リクエストが届きました。\n期限以内に承諾もしくは拒否してください。","acceptInquiry":"ゲストよりお問い合わせが届きました。\n予約に変更またはお問い合わせを終了してください。","expiredRequest":"有効期限が過ぎたため、\n予約リクエストは無効になりました。","expiredInquiry":"有効期限が過ぎたため、\nお問い合わせは終了しました。","cancel":"予約をキャンセルしました。\nゲストにキャンセルしたことや理由を伝えましょう。","systemCancel":"スペースマーケットで予約をキャンセルしました。","guestCancelAfterAccept":"ゲストから予約をキャンセルされました。\nキャンセルポリシーに基づき、\n金額を払い戻しましょう。","refundedCompletion":"払い戻し済み","refundAmount":"払い戻し金額：{{- refundedAmount}}","guestCancelBeforeAccept":"ゲストから予約をキャンセルされました。\n承認前のためキャンセル料金は発生しません。","guestCancelRefunded":"ゲストから予約をキャンセルされました。","inputFund":"払い戻し金額を入力","cancelReservation":"予約をキャンセル","cancelReservationReason":"キャンセルする理由を選択してください。","inputCancelReservationReason":"理由を記入してください。","cancelReservationDesc":"スペースマーケットのみに通知されます。ゲストに通知されることはありません。","doubleBookingReservation":"他の予約と重なってしまったため","changeSchedule":"日程が変更になった、料金を変更したいため","specialCircumstances":"ご自身に関する特別な事情（重篤な病気、事故、自然災害等）","askedToCancel":"ゲストにキャンセルを頼まれたため","other":"その他","cancelReservationAttention":"予約をキャンセルする場合は必ずメッセージでゲストに理由を伝えてください。","reservationDetails":"予約詳細","term":"期限：あと","termDesc":"※承認して予約完了になります。","dateAndTime":"日時","space":"スペース","revenue":"あなたの収益","revenueGuide":"ゲストのお支払い方法により振込までにかかる期間が異なります。","aboutTransfer":"振込について","billStatement":"ゲストのご利用料金明細","guestDetails":"ゲスト詳細","total":"合計","changeReservation":"予約変更リクエスト","until":"まで","changeAmount":"価格変更","changedReason":"手動で変更した理由","changedReasonHint":"例）利用時間の1時間超過により、料金を変更させていただきます。","depositDate":"振込予定日","requestReservation":"予約変更リクエストあり","reservationID":"予約ID：","directReservation":"今すぐ予約","changeRequestReservation":"お問い合わせを予約リクエストに変更","changeRequestFromInquiry":"お問い合わせを予約リクエストに変更しました","applyingChangeRequest":"支払い方法選択待ち","applyingChangeRequestDesc":"※ゲストが支払い方法を選択して、予約完了になります。","reservationCompletionDesc":"下記の連絡先からゲストと連絡できます。","refundsDesc":"料金の払戻しを行いました。詳しくはメールをご確認ください。","tel":"電話：","denyReservationRequest":"予約リクエストを否認しました。","review":"レビュー","reviewDesc":"ゲストへのレビューを書くと\nゲストからレビューを書いてもらいやすくなります。","postReview":"レビューの投稿","applyingChangeReservation":"予約内容の変更を申請中","confirmApplication":"内容を確認","requestReservationAgain":"再度予約リクエストする","message":"メッセージ","messageGuide":"※メッセージの内容は必要に応じてスペースマーケットで確認しています。","messageGuideSp":"※メッセージは必要に応じスペースマーケットで確認してます。","reviewPageDesc":"ゲストへのレビューを投稿しましょう。ゲストとホストの両者がレビューをすると公開されます。\n10文字以上400文字以内。","clickStarToReview":"星をクリックして評価","reviewPlaceholder":"このたびはご利用ありがとうございました。綺麗に使っていただき大変感謝しております。\nまたのご利用をお待ちしております。","reviewFooterEdit":"※公開後のレビューの編集はできません。","reviewFooterTerm":"※提出期限を過ぎた時点で片方しかレビューを書いていない場合は、片方のレビューのみが公開されます。","reviewFooterInfo":"※電話番号等、個人の特定に繋がる情報の記入はお控えください。","backToMessage":"メッセージにもどる","alreadyRead":"既読","changeReservationRequestFromUser":"ゲストからの予約変更リクエスト","changeReservationRequestFromOwner":"送信した予約変更リクエスト","changeReservationRequest":"予約変更リクエスト","changeReservationRequestGuideFromUser":"ゲストから予約変更リクエストが届いています。 \n内容を確認後、承諾または拒否をしてください。変更期限をすぎた場合、元の内容が適用されます。","approve":"承認","denial":"否認","consent":"承諾","reject":"拒否","tax":"消費税","changeDueDate":"変更期限","sendFile":"ファイルの送信","sendFileConfirm":"送信するファイルに間違いはありませんか？","denyReservationRequestTitle":"予約リクエストの否認","approveReservationRequestTitle":"予約リクエストの承認","denyReason":"否認する理由を選択してください。","approveReservationRequestConfirm":"予約リクエストを承認します。\n本当によろしいですか？","ReasonForDenial":"否認理由","ReasonForDenialGuide":"スペースマーケットのみに通知されます。ゲストに通知されることはありません。","ReasonForDenialNotice":"否認後、必ずゲストにメッセージで否認理由を伝えてください。","approveReservationRequestNotice":"承認後、ゲストにメッセージでスペースの利用方法や注意事項を伝えてください。","unavailableDay":"利用できない日であった","uneasyToGuests":"ゲストに違和感や不安を感じる","unmatchToGuest":"ゲストのニーズとスペースが合わない","betterReservation":"より良い条件の予約を待ちたい","changeToAnotherDate":"ゲストが別日への変更を希望している","spamMessage":"スパムメッセージであった","editReservation":{"headLineDesc":"予約変更リクエストを送信後、ゲストが承諾して変更が完了になります。","headLineDescPrice":"料金変更リクエストを送信後、ゲストが承諾して変更が完了になります。","lendTimePrice":"時間価格で貸す","lendDayPrice":"1日価格で貸す","manualPricing":"手動での料金設定","setManually":"手動で設定する","notSetManually":"設定しない","checkDatesCalendar":"カレンダーで日程を確認","quantity":"数量"},"refund":{"title":"利用料金の払い戻し","desc":"\u003ca href=\"{{url}}\" target=\"_blank\">キャンセルポリシー\u003c/a>に従い、ゲストに払い戻す金額を入力してください。","label":"払い戻し金額","caption":"ゲストに払い戻す金額を入力してください。","max":"最大{{- max}}","button":"払い戻し"},"faildSendMessage":"メッセージの送信に失敗しました。しばらく時間をあけて再度送信してください。","totalAmount":"{{- total}}（税込：{{- totalWithTax}}）","successReservationUpdated":"予約変更リクエストを送信しました。ゲストが承認して予約完了になります。","failedReservationUpdated":"予約変更リクエストを送信できませんでした。","successCancelReservation":"予約内容をキャンセルしました。","failedCancelReservation":"予約内容をキャンセルできませんでした。","successReputation":"レビューを投稿しました。","failedReputation":"レビューが投稿できませんでした。","reputationLengthTooShort":"レビューは10文字以上入力してください。","reputationLengthTooLong":"レビューは400文字以内で入力してください。","confirmApproveReservationTitle":"予約変更リクエストの承諾","confirmApproveReservationBody":"予約リクエストを承認して、本当によろしいですか？","confirmRejectReservationTitle":"予約変更リクエストの拒否","confirmRejectReservationBody":"予約リクエストを否認して、本当によろしいですか？","successApproveReservation":"予約リクエストを承認しました。","successRejectReservation":"予約リクエストを否認しました。","failedReservationProcess":"操作に失敗しました。しばらく時間をあけてお試しください。","successApproveChangeReservation":"予約変更リクエストを承諾しました。","successRejectChangeReservation":"予約変更リクエストを拒否しました。","successRefund":"払い戻しを行いました。","failedRefund":"払い戻しに失敗しました。","editRequestModal":{"title":"予約変更リクエスト","text":"ゲストが予約変更リクエストを承諾して変更完了になります。\n予約変更リクエストをして、本当によろしいですか？","positive":"変更","negative":"キャンセル"},"inquiryRequestModal":{"title":"お問い合わせを予約リクエストに変更","text":"ゲストが変更内容を承諾して変更完了になります。\nお問い合わせを予約リクエストに変更して、本当によろしいですか？","positive":"変更","negative":"キャンセル"},"postReviewModal":{"title":"レビューの投稿","text":"公開後にレビューの編集はできません。レビューを投稿して、本当によろしいですか？","positive":"投稿","negative":"キャンセル"},"refundModal":{"title":"利用料金の払い戻し","text":"払い戻しをして、本当によろしいですか？","positive":"払い戻し","negative":"キャンセル"}},"achievement":{"replyModal":{"title":"レビューの返信","text":"返信後に内容の変更はできません。\nメッセージを送信して、本当によろしいですか？","positive":"送信","negative":"キャンセル"},"successReply":"レビューに返信しました。","failedReply":"返信できませんでした。しばらく時間をあけてお試しください。"},"room":{"editMenu":"編集メニュー","createNewRoom":"新規スペースの作成","makingGuide":"完成させてスペースを公開しましょう！","reviewingGuide":"ただいま審査中です。審査終了後に公開されます。","privateGuide":"準備ができ次第スペースを公開しましょう！","noManagingRoom":"管理しているスペースがありません。","letsCreateRoom":"スペースを作成して掲載しましょう！","roomTitleGuide":"管理用の名称です。一般公開されません。最大64文字。","roomTitleGuidesave":"フォーム以外の場所をクリックすると保存されます。","removeRoomTitle":"スペースの削除","removeRoomMessage":"このスペースに関する情報がすべて削除されます。","removeRoomSuccess":"削除に成功しました","removeRoomError":"削除できませんでした：{{- errorMessage}}","removePdfTitle":"PDFファイルの削除","removePdfMessage":"PDFファイルを削除します。","removePhotoTitle":"写真の削除","removePhotoMessage":"写真を削除します。","removePlanTitle":"プランの削除","removePlanMessage":"このプランに関する設定がすべて削除されます。","cantRemovedPlanMessage":"最低1つのプランが必要です。","removePlanSettingItemTitle":"設定項目の削除","removePlanSettingItemMessage":"この項目に関する設定が削除されます。","removeOptionTitle":"オプションの削除","removeOptionMessage":"このオプションに関する設定がすべて削除されます。","addFile":"ファイルを追加","editOption":"オプションの編集","editPlan":"プランの編集","calendarLink":"カレンダーで確認","planList":"プラン一覧","optionList":"オプション一覧","optionDescription":"設備・サービスを設定してください。$t(page.shared.dragAndDrop)","createOption":"新規オプションの作成","createSpecialSales":"特別営業の新規追加","editSpecialSales":"特別営業の編集","createSpace":"新規施設の作成","editSpace":"施設の編集","editSpaceAttention":"※この施設に登録されている全スペースの施設情報が更新されます。","selectRoom":"施設の選択","editSpaceHeadGuide":"スペースの場所に関する情報です。同一の施設に複数のスペースを登録できます。スペースを登録する施設を選択してください。","allSpaces":"すべての施設","allRooms":"すべてのスペース","editRoom":"スペース編集","planAndPrice":"プラン・価格設定","createFlow":{"rentTypeTitle":"“時間貸し”と“宿泊”どちらで貸し出しますか？","rentTypeDescription":"始めに設定をする貸し方を選択してください。\n後から貸し方の変更・追加もできます。","rentTypeStayFooter":"※宿泊で貸し出す場合、旅館業許可書が必要です。","rentTypeRentalDescription":"「SPACEMARKET」に掲載されます。\nスペースを1時間単位で貸し出すことができます。\n主にパーティー、会議、イベントなどに利用されます。","rentTypeStayDescription":"「SPACEMARKET STAY」に掲載されます。\nスペースを1泊単位で貸し出すことができます。\n主に旅行や合宿などに利用されます。","rentTypeChangeTitle":"貸し出し方法の変更","rentTypeChangeDescription":"貸し出し方法を変更すると、入力した内容が一部削除されます。","faclityInfoDescription":"スペースの場所や連絡先に関する情報です。","introductionDescription":"スペースの特徴について紹介してください。","planDescription":"スペースを貸し出す際の料金プランを設定してください。","statusDoneTitleDaytime":"スペース登録が完了し、掲載準備ができました！","statusDoneDescriptionDaytime":"スペースを公開して、予約の受け付けを開始しましょう！\nスペースの詳しい情報は掲載後にもすぐに設定できます。","statusDoneTitleStay":"スペース登録が完了しました。\n審査に申請してスペースを掲載しましょう！","statusDoneDescriptionStay":"宿泊物件は審査が必要で、通過すると掲載されます。\n掲載審査申請後でもスペースの編集はいつでも可能です。また、さらに詳しい情報も申請後から設定できるようになります。","statusYetTitle":"残りの項目を入力して、掲載しましょう！","statusYetDescription":"このスペースは作成途中です。\nスペース作成後に詳しい情報を設定できるようになります。","doneTitleDaytime":"スペースを公開しました！","doneTitleStay":"スペースを審査に出しました！\n審査完了まで少々お待ちください。","doneDescription":"注意事項やプランなどの詳細な設定はスペース管理からできます。\n紹介内容を充実させて、スペースの魅力を最大限伝えましょう！","doneToSpaceEdit":"スペース編集へ"},"addTypeFlow":{"addRental":"時間貸し登録","addStay":"宿泊登録","statusDoneTitleDaytime":"時間貸し登録が完了し、掲載準備ができました！","statusDoneDescriptionDaytime":"時間貸しで掲載して、予約の受け付けを開始しましょう！\nスペースの詳しい情報は掲載後にもすぐに設定できます。","statusDoneTitleStay":"宿泊登録が完了しました。\n掲載審査に申請しましょう！","statusDoneDescriptionStay":"宿泊物件は審査が必要で、通過すると掲載されます。\n掲載審査申請後でもスペースの編集はいつでも可能です。また、さらに詳しい情報も申請後から設定できるようになります。","doneTitleDaytime":"時間貸しスペースとして公開しました！","doneTitleStay":"審査に申請しました！\n審査完了まで少々お待ちください。"},"info":{"availableApplications":"使用可能用途","availableApplicationsGuide":"このスペースをどのような目的に使ってよいか選択してください。複数選択可能。","stayCapacity":"最大宿泊可能人数","passKey":"鍵の受け渡し","passKeyGuide":"利用日当日の鍵の受け渡し方法を選択してください。","reservableTerm":"予約の受付期間","stayCertificationType":"宿泊営業","reserveEnd":"予約の締め切り","reserveEndDesc":"利用日の何日前に予約を締め切るかを設定してください。\n例）「利用日の7日前」に設定→ゲストが4月8日に利用したい場合、4月1日以前に予約をする必要があります。","reservableTermGuide":"ゲストが予約リクエストする日を起点として、利用日が何ヶ月先までの予約を受け付けるか設定してください。\n例）「12ヶ月先まで予約を受け付ける」を設定→2018年4月1日の場合、2019年4月1日まで予約を受け付けます。","stayBusinessPermit":"旅館業許可書/特定認定書","stayBusinessPermitDesc":"記載事項が分かる写真、またはPDFファイルをアップロードしてください。","stayBusinessSelect":"営業の選択","stayBusinessSelectDesc":"営業の種類を選択をしてください。","Hotel":"ホテル旅館","publicLodgingHouse":"簡易宿泊所","boardinghouse":"下宿","vacationRental":"特区民泊","vacationRentalNew":"民泊新法","vacationRentalNewNumber":"民泊新法届出番号","amenity":"アメニティ","floorSpace":"床面積","sitDown":"着席(任意)","maxPerson":"最大収容人数","startAccept":"受付開始","endAccept":"貸出可能な期間","postalCode":"郵便番号","stateAndCity":"都道府県・市区町村","state":"都道府県","stateAndCityFooter":"例）新宿区","city":"市区町村","cityPhonetic":"シクチョウソン","cityPhoneticFooter":"例）シンジュクク","streetAddress":"町名・番地","streetAddressFooter":"例）西新宿6-15-1","streetName":"町名","phoneticStreetName":"チョウメイ","streetNameFooter":"例）西新宿6丁目","streetNamePhoneticFooter":"例）ニシシンジュク6チョウメ","streetNumber":"番地","streetNumberFooter":"例）15-1","streetNumberPhonetic":"バンチ","buildingName":"ビル名・部屋番号","buildingNameFooter":"例）ラ・トゥール新宿608号室","phoneticBuildingNamePlaceholder":"ビルメイ・ヘヤバンゴウ","phoneticBuildingNameFooter":"例）ラトゥールシンジュク608ゴウシツ","access":"アクセス","accessDesc":"最寄駅からの歩き方や所要時間、高速道路の出口などを入力してください。","accessFooter":"例）JR新宿駅西口より徒歩7分","accessMap":"地図の設定","accessMapDesc":"ドラッグ&ドロップでピンの位置を変更できます。","roomAndBed":"部屋やベッド","bedroom":"ベッドルーム","bed":"ベッド（布団）","bathroom":"バスルーム","toilet":"トイレ","facilityName":"施設の名称","facilityNameDesc":"最大64文字。","facilityNameFooter":"例）キッチン付きリノベスペース！女子会・誕生日会・ママ会・コスプレ撮影・会議利用などに！","postalCodeDesc":"ハイフンなしの半角数字。入力すると住所が自動補完されます。","postalCodeFooter":"例）1600023","telDesc":"この情報は予約が確定次第ゲストに送信される利用日程表で開示されます。","telFooter":"例）09012345678","faxNumber":"FAX番号","facilityType":"施設の種類","settingUrl":"公開URLの設定","pricePerNight":"1泊あたりの価格","settingUrlDesc":"URLを変更できます。3文字から20文字まで。大小英数字とアンダーバー（_）とハイフン（-）が使用可能です。","urlPlaceholder":"spmkt","nameOfPlan":"プランの名称","nameOfPlanFooter":"例）基本プラン","defaultPlanName":"基本プラン","roomType":"部屋のタイプ","privateRoom":"個室","allRoundCharters":"まるまる貸切","sharedRoom":"シェアルーム","createPlan":"新規プランの作成","descriptionOfPlan":"プランの説明","descriptionOfPlanFooter":"例）Wi-Fi、ホワイトボード完備で会議からイベントまでご利用いただけます。その他必要な備品につきましては予約リクエスト時にお問い合わせください。","changingSetting":"設定方法の変更","setUnitNumberTitle":"単位の数値を自由に設定する","setUnitNumberDescription":"3時間あたり、2日あたりなど単位の数値を自由に変更できるようになります。","price":"価格","hourlyPriceHelp":"価格設定のヘルプ","priceDesc":"宿泊人数が多い場合に追加料金を設定することができます。","priceLabelPerson":"設定した価格で泊まれる人数","priceLabelAdditional":"1人超過毎の追加料金","daysAllowed":"宿泊可能日数","daysAllowedDesc":"連続で宿泊可能な日数を入力してください。","minStay":"最小宿泊日数","maxStay":"最大宿泊日数","receptionPeriodDesc":"このプランの貸出可能な期間を設定してください。","endOfReception":"受付終了(任意)","addSection":"区間の追加","availableForRent":"貸出可能な曜日・時間帯","availableForRentDesc":"貸出可能な曜日と時間を設定してください。0時〜36時（翌日12時）の間で入力してください。","availableWeekForRent":"貸出可能な曜日","availableWeekForRentDesc":"貸出可能な曜日を設定してください。チェックインの曜日になります。","checkInOutTime":"チェックイン・アウトの時間","checkIn":"チェックイン","checkOut":"チェックアウト","batchSetting":"一括で設定する","batchSettingTime":"時間帯の一括設定","batchSettingTimeDesc":"全ての曜日を貸出可能にし、時間帯を一括で設定できます。","availableForRentTime":"貸出可能な時間帯","publicHolidayDesc":"他の曜日と異なった設定をした場合、祝日の設定が優先されます。","approvalMethodOfReservation":"予約の承認方式","approvalMethodOfReservationDesc":"予約にホストの承認が必要かどうかを設定してください。\n承認なし（今すぐ予約）に設定するとゲストとのやりとりが簡単になり、予約が入りやすくなります。","directReservation":"承認なし(今すぐ予約)","requireApproval":"承認あり","aboutDirectReservation":"今すぐ予約とは","otherSetting":"その他の設定","minUsageTime":"最低利用時間","minUsageTimeDesc":"ゲストが予約できる最低利用時間の設定です。","cleanupTime":"片付け時間","cleanupTimeLabel":"利用終了後","cleanupTimeDesc":"利用終了後に時間を設け、別の予約が入らないようにできます。","lastMinutesDiscount":"直前割","lastMinutesDiscountLabel":"割引率","lastMinutesDiscountDesc":"最低10%以上。利用日から5日前までの予約に適用されます。","nightsDiscount":"連泊割","nightsDiscountDesc":"週割は7泊以上、月割28泊以上の以上の場合に割引が適用されます。","weekDiscount":"週割","monthDiscount":"月割","managementFee":"管理維持費","overCapacityFee":"人数超過料金","guestFee":"サービス料","managementFeeDesc":"スペースの利用料金とは別に清掃料金や光熱費など管理維持費を設定できます。","spaceHeadline":"スペースの見出し","spaceHeadlineDesc":"キャッチコピーやスペースの特徴を記入してください。最大64文字。","facilityAndService":"設備・サービスについて","facilityAndServiceDesc":"設備やサービスについて説明を記述してください。10文字以上800文字以内。","facilityAndServiceFooter":"例）Wi-Fi、ホワイトボード完備で会議からイベントまでご利用いただけます。その他必要な備品につきましては予約リクエスト時にお問い合わせください。","aboutSpace":"スペースについて","aboutSpaceDesc":"スペースの情報、利用用途、周辺施設について説明してください。10文字以上800文字以内。","aboutSpaceFooter":"例）女子会や誕生日会から会議まで様々な用途でご利用です。マンションの前にコンビニ、最寄り駅前にスーパーがあります。","foodAndDrink":"飲食について","foodAndDrinkDesc":"最大800文字。","foodAndDrinkFooter":"例）飲食持ち込み可、ケータリングもオプションで承っております。","cleanup":"後片付け・ゴミについて","cleanupDesc":"最大800文字。","cleanupFooter":"例）瓶、缶類の分別をお願いいたします。回収は45L袋1つ500円（税込）とさせていただき、撤収時の精算になります。","pdfFile":"PDFファイル","pdfFileDesc":"スペースの紹介、利用方法などを記載したPDFファイルをアップロードすることができます。"},"plan":{"specialSales":"特別営業","aboutSpecialSales":"特別営業とは？","specialSalesToolTip":"特別な期間だけ貸し出し可能にしたり、営業時間や価格の変更ができます。休日やGW、年末などの繁忙期の営業日の追加や値上げ、お盆などの閑散期の値下げの対応ができます。","AddspecialSales":"特別営業の新規追加","AddspecialSalesDesc":"基本情報の設定は特別営業に設定した期間だけ上書きされます。","applicationPeriod":"適用期間","specificDay":"特定の曜日","notSelectedDesc":"未選択の場合、毎日適用されます。","lendingMethod":"貸出方法","timeToLend":"貸出可能にする時間","priceChange":"価格の変更","onlyPriceChange":"価格変更のみ適用されている項目","onlyPriceChangeDesc":"以前のホストダッシュボードで設定できた項目です。\n指定期間の価格変更のみ適用されており、貸出可能にはなっていません。","unavailability":"貸出可能・不可能のみ適用されている項目","unavailabilityDesc":"以前のホストダッシュボードの利用可否で設定できた項目です。\n指定期間の貸出可能、不可能が適用されています。"},"fixedFormat":{"atReservationConfirm":"予約確定時","atReservationConfirmDesc":"予約の確定（支払完了）時に設定した内容のメッセージが自動でゲストに送られます。","atReservationConfirmFooter":"例）鍵の受け渡しは当日受付にて行います。プロジェクター、Wi-Fi、ホワイトボードなど一式無料でご利用できますのでご安心ください。","atReservationDenial":"予約否認時","atReservationDenialDesc":"予約の否認時に設定した内容のメッセージが自動でゲストに送られます。","atReservationDenialFooter":"例）大変申し訳ありません。本日程ですが、ビルの緊急メンテナンス日となってしまいました。またご予約いただけますことを心よりお待ちしております。","remind":"利用日前日のリマインド","remindDesc":"利用日の前日に設定したメッセージが自動でゲストに送られます。","remindFooter":"明日の利用時の案内を再度送ります。鍵の開け方、キッチンの利用方法、ゴミの片付け方をご確認ください。"},"photo":{"photoDescription":"ゲストが実際に利用するスペース、設備等の画像を最低1枚追加してください。推奨サイズは1260x840です。ドラッグ＆ドロップで入れ替え可。クリックで拡大することができます。最大30枚まで追加できます。","addPhoto":"新規写真の追加","video":"動画","videoDescription":"YouTubeの動画を表示できます。動画は写真とともにスライドショー内に表示されます。","videoPlaceholder":"動画のURL","videoFooter":"例）http://www.youtube.com/watch?v=XXXXXXX","imageItem":{"coverPhoto":"カバー写真","descriptionPlaceholder":"閑静なオフィス街にあるビル内の施設です。"}},"option":{"nameOfOption":"オプションの名称","nameOfOptionFooter":"例）撮影機材の一式レンタル","explainOptions":"オプションの説明","explainOptionsFooter":"例）撮影用照明、背景紙、ムービー用機材を貸し出します。","priceAndUnit":"価格と単位","availableQuantity":"提供可能な数量","availableQuantityDesc":"数量を設定すると、ゲストが利用する数量を指定できるようになります。","photo":"写真","photoDesc":"オプション内容が分かる画像を最低1枚追加してください。推奨サイズは1260x840です。\nドラッグ＆ドロップで入れ替え可。クリックで拡大することができます。最大5枚まで追加できます。"},"agreementOfService":{"notice":"1文字でも記載があるとスペースマーケットのキャンセルポリシーや利用規約は適用されません。ご注意ください。","cancelPolicy":"キャンセルポリシー","termsOfService":"利用規約","cancelPolicyDefault":"標準キャンセルポリシー","cancelPolicyDefaultDesc":"未入力の場合は、スペースマーケットの\u003ca href=\"{{url}}\" target=\"_blank\">標準キャンセルポリシー\u003c/a>に準ずる旨を表示します。","agreementOfGuest":"ゲスト規約","agreementOfGuestDesc":"未入力の場合は、スペースマーケットの\u003ca href=\"{{url}}\" target=\"_blank\">ゲスト規約\u003c/a>に準ずる旨を表示します。","cancelPolicyPlaceholder":"スペースマーケットの{{- termName}}に準ずる"}},"formError":{"halfSizeNumericCharacter":"半角数字で入力してください。","enterWithoutHyphen":"ハイフンなしで入力してください。","inputRequired":"入力必須項目です。","enterTemplate":"{{- fieldName}}を入力してください。","atLeastPrice":"少なくても1つ以上の価格を有効にしてください。","notSelectTemplate":"{{- selectName}}が選択されていません。","maximumNumberCharacter":"最大文字数を超えています。","notExistsSelectedDate":"選択された日付は存在しません。","reachLimit":"登録できる上限に達しています。","validationStayCertification":"時間貸しページでは、宿泊をともなうスペースの貸出を禁止しております。","validationDetail":"詳細は","validationLinkGuide":"こちら","validationLinkGuideConfirm":"をご確認ください。"},"networkSuccess":{"save":"保存しました。","postalCodeToAddress":"郵便番号から住所を取得しました。","addressToPostalCode":"住所から郵便番号を取得しました。","addressToLatLng":"住所から地図を設定しました。","delete":"削除しました。","absolve":"解除しました。","copy":"コピーしました。"},"networkError":{"fetch":"{{- name}}が取得できませんでした。しばらく時間をあけてお試しください。","notExistsPostalCode":"指定した郵便番号は存在しません。郵便番号を再度ご確認ください。","fetchAddressFromPostalCode":"郵便番号を用いた住所の取得に失敗しました。お手数ですが、住所のご入力をお願いいたします。"},"unit":{"year":"年","day":"日","time":"時間","monetary":"¥","times":"回","person":"人","personMin":"〜{{- count}}人","night":"泊","room":"部屋","bed":"台（枚）","place":"箇所","meter":"㎡","cases":"件","percent":"%","rank":"位"},"space":{"removeSpaceTitle":"施設の削除","removeSpaceMessage":"この施設に関する情報がすべて削除されます。","cantRemovedMessage":"この施設は他のスペースにも登録されているため、削除できません。","removeSuccess":"施設の削除に成功しました。","updatedTitle":"内容に変更があります","updatedMessage":"内容に変更があります。"},"publishFlow":{"createRoom":"スペースの作成","createRoomCaption":"貸し出すスペースの紹介や注意事項、価格、写真などを登録してスペースを作成しましょう。","registerOwnerAccount":"ホスト情報の登録","registerOwnerAccountCaption":"アカウント情報や本人確認書類、売上を振り込む口座などを設定しましょう。","inputInfoApplyReview":"必要な情報をすべて入力すると審査に申請することができます。"},"account":{"account":"アカウント","address":"住所","bankAccount":"振込口座","notification":"メール・通知","jointManagement":"共同管理","calendarCollaboration":"カレンダー連携"},"setting":{"settingMenu":"設定メニュー","mailAddress":"メールアドレス","mailAddressFooter":"例）supesuma.taro@spacemarket.co.jp","profile":"プロフィール","profileDesc":"ホストとしてのプロフィールを入力してください。","profileFooter":"例）「自然を感じられる空間」をコンセプトにしたスペースを運営している株式会社スペースマーケットです。","calendarCollaborationDesc":"スペースの予約カレンダーと外部サービスとのカレンダー連携を行うことができます。","googleCalendar":"Googleカレンダー","googleCalendarDesc":"同時に1つのGoogleアカウントのカレンダーのみしか連携できません。\nGoogleアカウントを選択して、カレンダーをインポートまたはエクスポートしてください。","import":"インポート","importDesc":"Googleカレンダーの情報を、選択したスペースのカレンダーに反映できます。","export":"エクスポート","exportDesc":"選択したスペースの情報を、Googleカレンダーに反映できます。","targetSpace":"対象のスペース","selectCalendar":"カレンダーを選択","selectSpaceTarget":"対象のスペースを選択","addImport":"インポートを追加","addExport":"エクスポートを追加","iCalendarDesc":"iCalendar対応の外部カレンダーへエクスポートすることができます。\n下記のURLをコピーし、iCalendar対応の外部カレンダーに貼り付けてください。","selectSpaceForICalendar":"iCalendarのURLを発行したいスペースを選択してください","selectSpace":"スペースを選択","url":"URL","uncertified":"未認証","selectAccount":"アカウントを選択","mailNotificationSetting":"メール通知設定","mailNotificationSettingDesc":"各種メールの受信設定を行うことができます。","mailFromSpmkt":"スペースマーケットからのお知らせ","mailFromSpmktDesc":"システムメンテナンスの連絡など、スペースマーケットからのお知らせをお送りします。\nこのメールは大切なお知らせのため、受信解除することはできません。","mailInquiryAndReservationRequest":"お問い合わせ・予約リクエストに関するお知らせ","mailInquiryAndReservationRequestDesc":"メッセージを受信したとき、お問い合わせや予約リクエストのステータス変更があったときなどにお知らせします。\nこのメールは大切なお知らせのため、受信解除することはできません。","remindInquiryAndReservationRequest":"お問い合わせ・予約リクエストに関するリマインド","remindInquiryAndReservationRequestDesc":"お問い合わせや予約リクエストについて、やるべきことがある場合にリマインドをお送りします。\n受信設定にしておくことをおすすめします。","mailPublishedSpace":"スペース掲載に関するお知らせ","mailPublishedSpaceDesc":"スペースの掲載について、やるべきことがある場合にお知らせをお送りします。\n受信設定にしておくことをおすすめします。","mailFavorite":"お気に入りへの追加のお知らせ","mailFavoriteDesc":"あなたのスペースがお気に入りに登録された際にお知らせします。","mailCampaign":"お得キャンペーン＆ヒントに関するお知らせ","mailCampaignDesc":"スペース運営に役立つお得なキャンペーン情報やヒント、セミナーやイベントへのご案内をお送りします。","notificationReceptionSettings":"アプリ通知受信設定","notificationReceptionSettingsDesc":"アプリへの各種通知の受信設定を行うことができます。","noticeFromSpmktDesc":"システムメンテナンスの連絡など、スペースマーケットからのお知らせをお送りします。\n受信設定にしておくことをおすすめします。","noticelInquiryAndReservationRequestDesc":"メッセージを受信したとき、お問い合わせや予約リクエストのステータス変更があったときなどにお知らせします。\n受信設定にしておくことをおすすめします。","noticelRemindInquiryAndReservationRequestDesc":"お問い合わせや予約リクエストについて、やるべきことがある場合にリマインドをお送りします。\n受信設定にしておくことをおすすめします。","resisterAccout":"アカウントで登録した","managementHost":"管理ホスト","managementHostDesc":"スペースの登録やメッセージへの返信、予約の承認などの権限を持つ管理者として追加・削除することができます。","addManagementHost":"管理ホストを追加","additionalOfManagementHost":"管理ホストの追加","additionalOfManagementHostDesc":"メールアドレスからホストを追加できます。","notFoundHost":"ホストがみつかりませんでした。","sendInvitationMail":"「メールアドレス」に招待メールを送信する","sendInvitationMailSubject":"{{userName}}さんが「スペースマーケット」にあなたを招待しました","sendInvitationMailBody":"{{userName}}さんがスペースマーケット（https://www.spacemarket.com）の管理ホストにあなたを招待しています。\nスペースマーケットのアカウント登録を完了し、登録したメールアドレスを{{userName}}さんに伝えて、管理ホスト登録を完了してください。","removeOwnerUserTitle":"管理ホストの削除","removeOwnerUserMessage":"削除した時点から「{{userName}}」さんは{{ownerName}}の情報にアクセスできなくなります。"},"shared":{"price":"価格","stay":"宿泊","rental":"時間貸し","rentalDaily":"一日貸し","delete":"削除","save":"保存","send":"送信","execute":"実行","newCreate":"新規作成","cantRemovedTitle":"削除できません","cancel":"キャンセル","approval":"承認","denial":"否認","expired":"期限切れ","usageCompletion":"利用完了","hostCancel":"ホストキャンセル","guestCancel":"ゲストキャンセル","systemCancel":"運営キャンセル","refunds":"払い戻し","guest":"ゲスト","open":"開く","close":"閉じる","back":"もどる","revoke":"変更を破棄","confirmRevoke":"変更を破棄してもよろしいですか？","confirmReallySure":"本当によろしいですか？","public":"公開中","private":"非公開","banned":"強制非公開","hourlyPrice":"時間価格","dailyPrice":"一日価格","facilityInfo":"施設情報","preview":"プレビュー","basicInfo":"基本情報","explanatoryText":"説明文","spaceOverview":"スペースの紹介・注意事項","photoAndMovie":"写真・動画","setting":"設定","plan":"プラン","option":"オプション","fixedFormat":"定型文","agreementOfService":"キャンセルポリシー・利用規約","making":"作成中","reviewing":"審査中","allDayPrice":"1日価格","year":"{{- year}}年","dateFormat_YMD":"YYYY年M月D日","dateFormat_YMDddd":"YYYY年M月D日(ddd)","dateFormat_YYYYMMDD":"YYYYMMDD","dateFormat_YM":"YYYY年M月","dateFormat_MD":"M月D日","timeFormatHMM":"h:mm","timeFormatKMM":"k:mm","month":"月","weekday1":"日","weekday2":"月","weekday3":"火","weekday4":"水","weekday5":"木","weekday6":"金","weekday7":"土","weekdayLong1":"日曜日","weekdayLong2":"月曜日","weekdayLong3":"火曜日","weekdayLong4":"水曜日","weekdayLong5":"木曜日","weekdayLong6":"金曜日","weekdayLong7":"土曜日","holiday":"祝日","holidayShort":"祝","everyday":"毎日","allday":"終日","atTime":"特定の時間","dragAndDrop":"ドラッグ＆ドロップで入れ替え可。","showMore":"もっと見る","tax_included":"税込","requiredLabel":{"required":"必須","optional":"任意"},"settingItem":"設定中の項目","notExistsSettingItem":"設定中の項目がありません。","modRentType":"貸し出し方法の変更","completion":"完了","incompletion":"未完了","edit":"編集","photo":"写真","continueEdit":"続きから編集","reservation":"予約","reservation_completion":"予約完了","reservation_request":"予約リクエスト","schedule":"予定","reserveNotAccept":"貸し出し不可","notUse":"貸出不可","inquiry":"お問い合わせ","today":"今日","yesterday":"昨日","authenticated":"認証済み","tel":"電話番号","creditcard":"クレジットカード","hasReviewedHost":"ホストからのレビューあり","notInput":"(未入力 {{- id}})","toNotRent":"貸出不可にする","businessHours":"営業時間","bnbSales":"宿泊営業","possible":"可能","impossible":"不可","change":"変更","memo":"メモ","add":"追加","search":"検索","saveAndNext":"保存して進む","saveAndBack":"保存して戻る","saveAndExit":"保存して終了","createSpace":"新規に施設情報を入力","toUseCreatedSpace":"以前作成した施設情報を利用","formatNumberingTitle":"{{- number}} {{- title}}","space":"施設","room":"スペース","publish":"掲載","publishExamination":"掲載審査","file":"ファイル","selectFile":"ファイルの選択","changeFile":"ファイルの変更","selected":"選択済み","absolve":"解除","isSetting":"設定中","isUnset":"未設定","lend":"貸し出す","unit_number":"件","doSetting":"設定する","isNotExists":"{{- item}}はありません。","new":"新着","recommend":"おすすめ","usePersonal":"個人利用","useBusiness":"法人利用","notSetManually":"設定しない","hasChange":"変更あり","hasNotChange":"変更なし","date_unspecified":"日時指定なし","copyUrl":"URLをコピー","enforcement":"実施"},"substatus":{"request":"予約/否認待ち","notReply":"未返信","modifyRequest":"予約変更リクエスト\nあり","notReview":"未レビュー","cancel":"キャンセル料金\n確定待ち"}},"state":{"kanto":"関東","kansai":"関西","tokyo":"東京","kanagawa":"神奈川","chiba":"千葉","saitama":"埼玉","ibaraki":"茨城","tochigi":"栃木","gunma":"群馬","osaka":"大阪","hyogo":"兵庫","kyoto":"京都","shiga":"滋賀","nara":"奈良","wakayama":"和歌山","aichi":"愛知","gifu":"岐阜","shizuoka":"静岡","mie":"三重","hokkaido":"北海道","aomori":"青森","iwate":"岩手","miyagi":"宮城","akita":"秋田","yamagata":"山形","fukushima":"福島","yamanashi":"山梨","niigata":"新潟","toyama":"富山","ishikawa":"石川","fukui":"福井","nagano":"長野","tottori":"鳥取","shimane":"島根","okayama":"岡山","hiroshima":"広島","yamaguchi":"山口","tokushima":"徳島","kagawa":"香川","ehime":"愛媛","kouchi":"高知","fukuoka":"福岡","saga":"佐賀","nagasaki":"長崎","kumamoto":"熊本","oita":"大分","miyazaki":"宮崎","kagoshima":"鹿児島","okinawa":"沖縄"},"error":{"400":{"title":"不正なリクエストです","description":""},"401":{"title":"指定されたページは見つかりませんでした","description":""},"403":{"title":"このページの閲覧は許可されていません","description":""},"404":{"title":"指定されたページは見つかりませんでした","description":"お探しのページは移動もしくは削除された可能性があります。"},"500":{"title":"エラーが発生しました","description":""},"503":{"title":"現在メンテナンスを行っています","description":"もうしばらくたってから再度アクセスしてください。"},"buttonToTop":"ダッシュボードトップへ","default":{"title":"エラーが発生しました","description":""}}}};
    %script{:src => "./room_facilty_files/client-6b1c42dd018a3452baec.js"}
    %script#msmaf{:src => "./room_facilty_files/result.js", :type => "text/javascript"}
    %noscript
      %img{:alt => "", :height => "1", :src => "https://r.moshimo.com/af/r/result?p_id=1511&pc_id=2703&m_v=%2Fr2beerctihqfpsij%2Frooms%2Fnew", :width => "1"}/


%h1
  space info 入力画面

= render 'shared/errors', object: @space_info

= form_for [@space, @room, @space_info] do |f|
  %h2
    郵便番号
  = f.text_field :post_code, placeholder: "郵便番号だよ",maxlength: 7

  %h2
    トドふけん
  = f.select :state, SpaceInfo.states.keys, {prompt: '選択してください'}


  %h2
    市町村区
  = f.text_field :city

  %h2
    番地・ビル名
  = f.text_field :address

  %h2
    部屋番号
  = f.text_field :last_address

  %h2
    地図のやつ
  = f.text_field :map_address

  %h2
    アクセス
  = f.text_area :access

  %h2
    電話番号
  = f.number_field :phone_number, in: 1...10000000000000

  %h2
    イベントタイプ
  - SpaceInfo.event_types.keys.each do |key|
    %h1
      = f.radio_button :event_type,key
      = key


  =f.submit "保存して進む"
