= render partial: 'shared/room_setiing_topside'


%h2
  = link_to "新規オプショnを追加", new_user_room_option_path(current_user.id, @room.id)

%h2
  オプション一覧
- @options.each do |op|
  - op.public == true ? public = true : public = false
  = op.name
  = op.id
  = link_to public_user_room_option_path(current_user.id, @room.id, op.id), method: :patch do
    = check_box 'op', 'public', {:checked => public}, true, false

  = link_to "編集", user_room_option_path(current_user.id, @room.id, op.id)
  = link_to "削除", user_room_option_path(current_user.id, @room.id, op.id), method: :delete