.site-header
  .site-header__sponser
    .site-header__sponser-container
      .site-header__sponser-catch
        %span.site-header__sponser-catch-text
          期間限定
      .site-header__sponser-date
        .site-header__sponser-datebox
          .site-header__sponser-date1-inner
            %p.site-header__sponser-date1_element
              2018年10月15日
          .site-header__sponser-date2-inner
            %p.site-header__sponser-date2_element
              まで
      .site-header-description-box
        .site-header__sponser-title-box
          %h2.site-header__sponser-title
            花火鑑賞スペースが0円で使えるチャンス!
          .site-header__sponser-sentence
            ふじさわ江の島花火を楽しめるスペース貸切権をプレゼント
        .site-header__sponser-button-box
          =link_to "#" ,class: "site-header__sponser-button-text link-white hover-white" do
            詳細へ
  %p.float
    = link_to root_path do
      = image_tag 'https://beyond.spacemarket.com/wp-content/uploads/2017/08/25191709/spmkt_profile-300x300.png' ,class: 'site-header__logo'
  .navs
    %ul
      - if user_signed_in? == true
        %li.navs-right
          .prof-and-down
            %input{id:"prof-tg",class:"top-nav-down-checkbox" ,type:"checkbox"}
            %label{for:"prof-tg"}
              %span.navs-right__text.link-black.hover-white
                =image_tag(set_thubm(current_user), class: "user_icon")
                = fa_icon 'caret-down', class: 'top-nav-down hover-white link-black'
            %ul.top-nav-parent
              %li.child-user
                %p.name
                  = current_user.first_name
                  = current_user.last_name
                = link_to "#",class: 'navs-right__link child-link ' do
                  %p.point.link-black.hover-border
                    (
                    = current_user.point
                    )ポイント
              %li.child
                = link_to "#" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    ポイント
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to "#" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    友達を招待
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to payments_path,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    クレジットカードを編集
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to "/reservations/confirm_reservation" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    予約確認
                  %span.link-black.child-link-arrow
                    >
              %li.child
                %a.btn{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow",class: "hover-green navs-right__link link-black child-link"}
                  %span.link-black
                    ログアウト
                  %span.link-black.child-link-arrow
                    >
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link child-link' do
            = fa_icon 'envelope', class: 'hover-white link-gray ', id: 'envelope-size'
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              ヘルプ
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              予約
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              お気に入り
        - if current_user
          -if current_user.spaces.empty?
            %li.navs-right
              = link_to host_entry_pages_path ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  空きスペースを掲載する
          -elsif current_user.owner == true
            %li.navs-right
              = link_to user_rooms_path(current_user.id) ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  ホスト

          -else
            %li.navs-right
              = link_to space_dashboard_path(current_user.spaces.first.id) ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  ホスト