.footer
  .top-footer
    %ul
    .top-footer__container
      %li.top-footer__site-link
        .top-footer__text-container
          = link_to "#" ,class: 'link-white hover-white' do
            .top-footer__caption-box
              .top-footer__caption.weight700
                SPACEMARKET STAY
              .top-footer__mini-caption
                民泊・宿泊予約
                = fa_icon 'external-link'
          .top-footer__description
            観光からビジネスまで安心して予約できる民泊物件・宿泊施設を多数掲載
        .top-footer__text-container
          = link_to "#" ,class: 'link-white hover-white' do
            .top-footer__caption-box
              .top-footer__caption.weight700
                SPACEMARKET BLOG
              .top-footer__mini-caption
                開発ブログ
                = fa_icon 'external-link'
          .top-footer__description
            スペースマーケットサービス開発チームによる開発ブログ
        .top-footer__text-container
          = link_to "#" ,class: 'link-white hover-white' do
            .top-footer__caption-box
              .top-footer__caption.weight700
                BEYOND
              .top-footer__mini-caption
                利用事例
                = fa_icon 'external-link'
          .top-footer__description
            スペース利用事例やホストへのインタビュー等、生の声をお届け

  .bottom-footer
    .bottom-footer__container
      .bottom-footer__container-first
        .bf-first-logo
          = image_tag 'http://www.dreamnews.jp/?action_Image=1&p=0000092185&id=headimage'
        = link_to new_user_registration_path ,class: 'link-white hover-white bf-first-link' do
          .bf-first-user.bf-first-button
            アカウント登録する
        = link_to "#" ,class: 'link-white hover-white bf-first-link' do
          .bf-first-host.bf-first-button
            ホスト登録する
    .bottom-footer__container
      .bottom-footer__container-seccond
        .bf-seccond-box
          .bf-seccond-box__caption.weight700
            目的から探す
          %ul
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                パーティー
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                会議
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                民泊
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                写真撮影
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                ロケ撮影
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                古典・展示会
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                演奏
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                スポーツ
        .bf-seccond-box
          .bf-seccond-box__caption.weight700
            カテゴリーから探す
          %ul
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                目的から探す
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                エリアから探す
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                人数から探す
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                会場タイプから探す
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                アメニティから探す
        .bf-seccond-box
          .bf-seccond-box__caption.weight700
            ご利用ガイド
          %ul
            %li
              .bf-seccond-box__mini-caption.weight700
                ゲスト編
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                ご利用の流れ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                決済の流れ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                当日の流れ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                安心への取り組み
          %ul.bf-seccond-box__padding
            %li
              .bf-seccond-box__mini-caption.weight700
                ホスト編
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                掲載するには
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                ご利用の流れ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                決済の流れ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                当日の対応
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                人気のスペースにするには
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                信頼への取り組み
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                ホスト登録をお考えの方に
        .bf-seccond-box
          .bf-seccond-box__caption.weight700
            スペースマーケットについて
          %ul
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                スマートフォンアプリ
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                法人のご利用について
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                法人向け管理サービス
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                プライバシーポリシー
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                スペースマーケット利用規約
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                ゲスト規約
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                よくある質問
            %li
              = link_to "#" ,class: 'link-white hover-white' do
                お問い合わせ
    .bottom-footer__container
      .bottom-footer__container-third
        .bf-third-box1
          .bf-third-box1__caption.weight700
            %p
              人気の貸し会議室
            %p
              人気のレンタルスペース
            %p
              特集・まとめ
        .bf-third-box2
          .bf-third-box2__text
            %ul
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  東京
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  渋谷
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  新宿
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  池袋
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  品川
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  秋葉原
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  横浜
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  名古屋
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  大阪
            %ul
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  東京
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  神奈川
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  千葉
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  愛知
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  大阪
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  京都
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  福岡
            %ul
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  格安
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  キッチン付き
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  少人数
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  オフサイト
              %li
                = link_to "#" ,class: 'link-white hover-white' do
                  誕生日



    .bottom-footer__container
      .bottom-footer__container-fourth
        = link_to "#" ,class: 'link-white hover-white' do
          = image_tag 'https://cdnspacemarket.com/packs-production/images/common/banner_appstore-62e09aa296.png',class: 'bf-fourth-img'
        = link_to "#" ,class: 'link-white hover-white' do
          = image_tag 'https://cdnspacemarket.com/packs-production/images/common/banner_googleplay-a66c8605da.png',class: 'bf-fourth-img'
    .bottom-footer__container
      .bottom-footer__container-fifth
        .bf-fifth-left-box
          .bf-fifth-left-box__top
            %ul
              %li
                = link_to "#",class: 'link-white hover-white' do
                  運営会社
              %li
                = link_to "#",class: 'link-white hover-white' do
                  採用情報
              %li
                = link_to "#",class: 'link-white hover-white' do
                  約款
              %li
                = link_to "#",class: 'link-white hover-white' do
                  特定商取引法に基づく表示
          .bf-fifth-left-box__middle
            %ul
              %li
                = link_to "#",class: 'link-white hover-white' do
                  = fa_icon 'facebook-square'
              %li
                = link_to "#",class: 'link-white hover-white' do
                  = fa_icon 'twitter-square'
              %li
                = link_to "#",class: 'link-white hover-white' do
                  = fa_icon 'instagram'
          .bf-fifth-left-box__bottom
            SPACEMARKET © Space Market, Inc.
        .bf-fifth-right-box



