.site-header
  %p.float
    = link_to root_path do
      = image_tag 'https://beyond.spacemarket.com/wp-content/uploads/2017/08/25191709/spmkt_profile-300x300.png' ,class: 'site-header__logo'
  .navs
    %ul
      - if user_signed_in? == true
        %li.navs-right
          .prof-and-down
            %input{id:"prof-tg",class:"top-nav-down-checkbox" ,type:"checkbox"}
            %label{for:"prof-tg"}
              %span.navs-right__text.link-black.hover-white
                = image_tag(set_thubm(current_user), class: "user_icon")
                = fa_icon 'caret-down', class: 'top-nav-down hover-white link-black'
            %ul.top-nav-parent
              %li.child-user
                %p.name
                  = current_user.first_name
                  = current_user.last_name
                = link_to "#",class: 'navs-right__link child-link ' do
                  %p.point.link-black.hover-border
                    (
                    = current_user.point
                    )ポイント
              %li.child
                = link_to "#" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    ポイント
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to "#" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    友達を招待
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to payments_path,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    クレジットカードを編集
                  %span.link-black.child-link-arrow
                    >
              %li.child
                = link_to "/reservations/confirm_reservation" ,class: 'navs-right__link child-link hover-green' do
                  %span.link-black
                    予約確認
                  %span.link-black.child-link-arrow
                    >
              %li.child
                %a.btn{"data-method" => "delete", :href => "/users/sign_out", :rel => "nofollow",class: "hover-green navs-right__link link-black child-link"}
                  %span.link-black
                    ログアウト
                  %span.link-black.child-link-arrow
                    >
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link child-link' do
            = fa_icon 'envelope', class: 'hover-white link-gray ', id: 'envelope-size'
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              ヘルプ
        %li.navs-right
          = link_to "/reservations/confirm_reservation" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              予約
        %li.navs-right
          = link_to "#" ,class: 'navs-right__link' do
            %p.navs-right__text.link-black.hover-white
              お気に入り


        - if current_user
          -if current_user.spaces.empty?
            %li.navs-right
              = link_to host_entry_pages_path ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  空きスペースを掲載する
          -elsif current_user.owner == true
            %li.navs-right
              = link_to user_dashboard_path(current_user.id) ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  ホスト

          -else
            %li.navs-right
              = link_to space_dashboard_path(current_user.spaces.first.id) ,class: 'navs-right__link' do
                %p.navs-right__text.link-black.hover-white
                  ホスト


      -# %li.navs-right
      -#   - if !current_user
      -#     = link_to new_user_registration_path ,class: 'navs-right__link' do
      -#       %p.navs-right__text.link-black.hover-white
      -#         新規登録
      -#   -else
      -#     = link_to account_path do
      -#       %p.navs-right__text.link-black.hover-white
      -#         =image_tag(set_thubm(current_user), class: "user_icon")

      -# %li.navs-right
      -#   -if !current_user
      -#     = link_to new_user_session_path  ,class: 'navs-right__link'  do
      -#       %p.navs-right__text.link-black.hover-white
      -#         ログイン
      -#   - else
      -#     = link_to destroy_user_session_path, method: :delete  ,class: 'navs-right__link' do
      -#       %p.navs-right__text.link-black.hover-white
      -#         ログアウト

      -# %li.navs-right
      -#   = link_to "#",class: 'navs-right__link'  do
      -#     %p.navs-right__text.link-black.hover-white
      -#       ヘルプ
