.plan-box
  .plan-box-left
    - plan.public == true ? public = true : public = false
    %p.plan-box-left-title
      = plan.name
      =plan.id
    %br
    %p.red-box-description
      価格
    - plan.day_pay == true && plan.time_pay == true ? count = 2 : count = 1
    - count.times do |k|
      %span.weight700
        = set_plan_price(plan, count, k)
      %span.red-box-description
        = set_plan_unit(plan,count, k)
    = link_to "#" , class: 'hover-none' do
      %p.green-color
        カレンダーで確認
  .plan-box-right
    .plan-box-right-switch-button
      .switchArea
        = link_to public_user_room_plan_path(current_user.id, @room.id, plan.id), method: :patch do
          = check_box 'plan', 'public', {:checked => public}, true, false
          %label{for:"switch#{plan.id}"}
            %span
          #swImg
    %br
      %p.switchArea_with_txt--gray
        非公開
    = link_to user_room_plan_path(current_user.id, @room.id, plan.id) do
      %span.green-box.y-gbox
        プランの編集

    = link_to user_room_plan_path(current_user.id, @room.id, plan.id), method: :delete, data: { confirm: "よろしいですか？"} do
      %span.y-gomi
        %button.gomibako-button.y-gomibako
          %i{class:"far fa-trash-alt fa-white"}