%h1
  ヘッダー
%h2
  = link_to "ポイント", "#"
  = link_to "設定", account_path



%h1
  サイドバー

%h2
  = link_to "アカウント", account_path
  = link_to "連絡先", contact_path
  = link_to "メール・通知", notification_path
  = link_to "クレジットカード", payments_path
  = link_to "後払い", "#"
  = link_to "法人アカウント", "#"
  = link_to "パスワード", "#"
