
= render 'shared/errors', object: @basic_info

-# = form_for @basic_info, url: user_room_basic_infos_path(current_user.id, @room.id) do |f|
-#   -# %h2
-#   -#   許容イベン
-#   -# = f.collection_check_boxes :usage_ids, Usage.all, :id, :name, include_hidden: false do |b|
-#   -#   = b.check_box
-#   -#   = b.label { b.text }

-#   %h2
-#     収容人数
-#   = f.number_field :capacity, in: 1...100000

-#   %h2
-#     床面積
-#   = f.number_field :floor_space, in: 1...100000


-#   %h2
-#     カギの受け渡し
-#   = f.select :key_type, BasicInfo.key_types.keys, {prompt: "カギの受け私"}

-#   %h2
-#     予約締め切り
-#   = f.select :reserve_limit, BasicInfo.reserve_limits.keys, {prompt: "締め切り"}

-#   %h2
-#     予約の受付期間
-#   = f.select :reserve_period, BasicInfo.reserve_periods.keys, {prompt: "受付期間"}

-#   = f.fields_for @room do |r|
-#     %h2
-#       アメニティを選択
-#       = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
-#         = b.check_box
-#         = b.label { b.text }


-#   = hidden_field_tag :id , @basic_info.id
-#   =f.submit "保存"

= form_for @basic_info, url: user_room_basic_infos_path(current_user.id, @room.id) do |f|
  .basic-information-box
    .basic-information-box__title.weight700
      基本情報
    .basic-information-box__usage
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        使用可能用途
      %p.red-box-description
        このスペースをどのような目的に使ってよいか選択してください。複数選択可能。
      %p.some
        = f.collection_check_boxes :usage_ids, Usage.all, :id, :name, include_hidden: false do |b|
          - if b.object.id  <  5
            %span.BI-usage-checkbox
              = b.check_box
              = b.label { b.text }

        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   パーティー
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   会議・研修
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   写真撮影
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   ロケ撮影
      %p.some
        = f.collection_check_boxes :usage_ids, Usage.all, :id, :name, include_hidden: false do |b|
          - if b.object.id  >=  5 &&  b.object.id < 9
            %span.BI-usage-checkbox
              = b.check_box
              = b.label { b.text }
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   イベント
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   演奏・パフォーマンス
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   個展・展示会
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   スポーツ・フィットネス
      %p.some
        = f.collection_check_boxes :usage_ids, Usage.all, :id, :name, include_hidden: false do |b|
          - if b.object.id >= 9
            %span.BI-usage-checkbox
              = b.check_box
              = b.label { b.text }
        -# %p.BI-usage-checkbox
        -#   = check_box  true, false
        -#   オフィス
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   結婚式
        -# %span.BI-usage-checkbox
        -#   = check_box  true, false
        -#   その他
    .basic-information-box__seating-capacity
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        最大収容人数
      %p
        = f.text_area :capacity, class:'seating-capacity-textarea'

        %span
          人
    .basic-information-box__floor-space
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        床面積
      %p
        = f.text_area :floor_space ,class:'floor-space-textarea'
        %span
          ㎡
    .basic-information-box__key-delivery
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        鍵の受け渡し
      %p.red-box-description
        利用日当日の鍵の受け渡し方法を選択してください。
      /https://qiita.com/seisonshi/items/fb123f0a05b6b40d72af
      .BI-key-delivery-checkbox
        = f.radio_button :key_type, "対面" ,label: "設定1", inline: true
        対面
      .BI-key-delivery-checkbox
        = f.radio_button :key_type, "キーボックス" ,label: "設定1", inline: true
        キーボックス
      .BI-key-delivery-checkbox
        = f.radio_button :key_type, "スマートロック" ,label: "設定1", inline: true
        スマートロック
      .BI-key-delivery-checkbox
        = f.radio_button :key_type, "予約成立後にメッセージで伝える" ,label: "設定1", inline: true
        予約成立後にメッセージで伝える
    .basic-information-box__reservation
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        予約の締め切り
      %p.red-box-description
        利用日の何日前に予約を締め切るかを設定してください。
        %br
        例）「利用日の7日前」に設定→ゲストが4月8日に利用したい場合、4月1日以前に予約をする必要があります。
      = f.select :reserve_limit, BasicInfo.reserve_limits.keys, {prompt: "締め切り"}
      -# %select{name:'example'}
      -#   %option{value:"利用日当日"}利用日当日
      -#   %option{value:"利用日の1日前"}利用日の1日前
      -#   %option{value:"利用日の2日前"}利用日の2日前
      -#   %option{value:"利用日の3日前"}利用日の3日前
      -#   %option{value:"利用日の7日前"}利用日の7日前
      -#   %option{value:"利用日の14日前"}利用日の14日前
    .basic-information-box__term
      %span.red-box.weight700
        必須
      %span.red-box-with-txt
        予約の受付期間
      %p.red-box-description
        ゲストが予約リクエストする日を起点として、利用日が何ヶ月先までの予約を受け付けるか設定してください。
        %br
        例）「12ヶ月先まで予約を受け付ける」を設定→2018年4月1日の場合、2019年4月1日まで予約を受け付けます。
      = f.select :reserve_period, BasicInfo.reserve_periods.keys, {prompt: "受付期間"}
      -# %select{name:'basic_info[reserve_period]', id:"basic_info_reserve_period"}
      -#   %option{value:"三ヶ月先"}3ヶ月先まで予約を受け付ける
      -#   %option{value:"六ヶ月先"}6ヶ月先まで予約を受け付ける
      -#   %option{value:"九ヶ月先"}9ヶ月先まで予約を受け付ける
      -#   %option{value:"十二ヶ月先"}12ヶ月先まで予約を受け付ける
  = f.fields_for @room do |r|
    .basic-information-box__ameniti

      %span.gray-box.weight700
        任意
      %span.red-box-with-txt
        アメニティ

      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 5
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 9 && b.object.id >= 5
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 13 && b.object.id >= 9
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 17 && b.object.id >= 13
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 21 && b.object.id >= 17
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 29 && b.object.id >= 25
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 34 && b.object.id >= 29
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }
      %p.some
        = r.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, include_hidden: false do |b|
          -if b.object.id < 100 && b.object.id >= 34
            %span.AME-checkbox
              = b.check_box
              = b.label { b.text }

    .space-edit-preserve-box
      = f.submit "保存", class: "space-edit-preserve-box__button"

