.top-container
  .top-title-container
    %h2.top-title
      パーティ
  .top-units
    = link_to "#" ,class:'link-black' do
      .top-units__box-3x.size-3x
        .top-units__img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/attachments/315842/image.jpg?fit=crop&width=490&height=490&bg-color=9c9c9c' , class: 'unit-img'
        .top-units__text-3x
          %p.weight700
            スペースのキャッチコピー
          %p.mini_text
            7 人　東京都　渋谷区

    = link_to "#" ,class:'link-black' do
      .top-units__box-3x.size-3x
        .top-units__img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/attachments/331103/image.jpg?fit=crop&width=490&height=490&bg-color=9c9c9c' , class: 'unit-img'
        .top-units__text-3x
          %p.weight700
            スペースのキャッチコピー
          %p.mini_text
            7 人　東京都　渋谷区

    = link_to "#" ,class:'link-black' do
      .top-units__box-3x.size-3x
        .top-units__img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/attachments/312351/image.jpg?fit=crop&width=490&height=490&bg-color=9c9c9c' , class: 'unit-img'
        .top-units__text-3x
          %p.weight700
            スペースのキャッチコピー
          %p.mini_text
            7 人　東京都　渋谷区

  .top-more
    = link_to "#" ,class: 'hover-border link-light-blue' do
      %p.top-more__text.weight700
        パーティで利用できるスペースを全て見る 〉
