.top-container
  .top-title-container
    %h2.top-title
      おすすめスペースまとめ
  .top-units
    = link_to "#" ,class:'link-black' do
      .top-units__box.size-4x
        .top-units__img-box
          = image_tag 'https://cdnspacemarket.com/uploads/features/31/72590ea9d87dbe358f1ac159efb8699b.jpg' , class: 'unit-img'
        .top-units__text
          %p
            キッチンが使えるレンタルスペース・スタジオまとめ


    = link_to "#" ,class:'link-black' do
      .top-units__box.size-4x
        .top-units__img-box
          = image_tag 'https://cdnspacemarket.com/uploads/features/66/b71a1d9a7a6c259ba2d5f871c7f21945.jpg' , class: 'unit-img'
        .top-units__text
          %p
            手ぶらで貸切バーベキューのできるレンタルスペースまとめ


    = link_to "#" ,class:'link-black' do
      .top-units__box.size-4x
        .top-units__img-box
          = image_tag 'https://cdnspacemarket.com/uploads/features/273/7c39fa5cfa48487386de29ffbfc7b158.jpg' , class: 'unit-img'
        .top-units__text
          %p
            室内キャンプ・お家キャンプができるスペースまとめ


    = link_to "#" ,class:'link-black' do
      .top-units__box.size-4x
        .top-units__img-box
          = image_tag 'https://cdnspacemarket.com/uploads/features/299/7638d3dca2aa1be2e1609177555865b4.png' , class: 'unit-img'
        .top-units__text
          %p
            パジャマパーティー #パジャパ におすすめの女子会部屋まとめ

  .top-more
    = link_to "#" ,class: 'hover-border link-light-blue' do
      %p.top-more__text.weight700
        スペースまとめをもっと見る 〉
