.top-container
  .top-title-container
    %h2.top-title
      特集ピックアップ
  .top-units
    = link_to "#" ,class:'link-black' do
      .top-units__pick-img.size-3x
        .pick-img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/topics/23/large_slide_f42ced737219393482c398d85d309021.png' ,class:'unit-img'
        .pick-img-txt1.weight700
          ボードゲームを持ってみんなでボドゲ会しよう!!

    = link_to "#" ,class:'link-black' do
      .top-units__pick-img.size-3x
        .pick-img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/topics/22/large_slide_3d996aa3f9feb096eaed730f070f09d7.jpg' ,class:'unit-img'
        .pick-img-txt2.weight700
          にわかにブーム!?1日スナック体験特集

    = link_to "#" ,class:'link-black' do
      .top-units__pick-img.size-3x
        .pick-img-box-3x
          = image_tag 'https://cdnspacemarket.com/uploads/topics/21/large_slide_f16e73e6ebe00e3ac6831f848bc0535a.png' ,class:'unit-img'
        .pick-img-txt3.weight700
          ホーンテッドシネマ特集!

  .top-more
    = link_to "#" ,class: 'hover-border link-light-blue' do
      %p.top-more__text.weight700
        スペースまとめをもっと見る
