
.site-main
  .site-main__title-logo
    = image_tag 'top_page_icon'
  .top-information.weight700
    = "#{Room.where(activated: "certification").where(public: true).distinct.count}件のレンタルスペースから 目的に合ったスペースをかんたん予約"
  .top-menu-container
    .container
      %ul.row
        %li.top-menu-list
          = link_to search_path(event_type: 1) ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/party_blue-284ad75134.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              パーティ
              %span.top-menu-list__button-num
                = set_event_type_count(1)
                件
        %li.top-menu-list
          = link_to search_path(event_type: 2) ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/class_blue-e05f553eaf.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              会議
              %span.top-menu-list__button-num
                = set_event_type_count(2)
                件
        %li.top-menu-list
          = link_to "#" ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/stay_blue-e36c43aef6.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              民泊
              %span.top-menu-list__button-num
                5000000
                件
    .container
      %ul.row
        %li.top-menu-list.row-list
          = link_to search_path(event_type: 3 ) ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/photo_shoot_blue-9d526ca0c6.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              写真撮影
              %span.top-menu-list__button-num
                = set_event_type_count(3)
                件
        %li.top-menu-list.row-list
          = link_to search_path(event_type: 4 ) ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/film_shoot_blue-b0d90574c8.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              ロケ撮影
              %span.top-menu-list__button-num
                = set_event_type_count(4)
                件
        %li.top-menu-list.row-list
          = link_to search_path(event_type: 8 ) ,class: 'top-menu-list__button' do
            = image_tag '//cdnspacemarket.com/packs-production/images/www/icon/sports_blue-d0e5f50187.svg',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              スポーツ
              %span.top-menu-list__button-num
                = set_event_type_count(8)
                件
        %li.top-menu-list.row-list
          = link_to "#" ,class: 'top-menu-list__button' do
            = image_tag '3dot2.png',class: 'top-menu-list__button-img'
            %span.top-menu-list__button-text
              その他
              %span.top-menu-list__button-num
                %br

    .top-menu__other-search
      %h3.top-menu__other-title
        カテゴリーから探す
      %ul.top-flow__list
        %li
          = link_to "#" ,class: 'link-light-blue hover-border' do
            エリア
        %li
          = link_to "#" ,class: 'link-light-blue hover-border' do
            人数
        %li
          = link_to "#" ,class: 'link-light-blue hover-border' do
            会場タイプ
        %li
          = link_to "#" ,class: 'link-light-blue hover-border' do
            アメニティ

  /下のrenderで渡す引数は画像のurlとテキストと合わせて渡したい
  .top-page-topics.back-white
    = render partial: '4topic'
  .top-page-topics.back-light-gray
    = render partial: 'pick_up'
  .yellow-advertisement
    %p.top-column
      新規アカウント登録して頂いた方全員に
    %span.middle-column-enphasize
      ¥1,000
    %span.middle-column
      相当のポイントをプレゼント！
    .back-white-column
      全てのスペースにご利用可能です
    %p.bottom-column
      おトクにスペースを借りてみよう！
  .white-advertisement
    = link_to "users/sign_up" do
      .blue-button
        新規アカウント登録はこちら
  .top-page-topics.back-light-gray
    = render partial: '3topic'
