%h1
  トップページ

%h2
  目的から探す
  = link_to "パーティー", event_type_search_path(id: "1")
  = link_to "会議", event_type_search_path(id: "2")
  = link_to "民泊",root_path
  = link_to "写真撮影", event_type_search_path(id: "3")
  = link_to "ロケ撮影", event_type_search_path(id: "4")
  = link_to "スポーツ", event_type_search_path(id: "8")

%h2
  カテゴリーから探す
  = link_to "エリア",root_path("areas")
  = link_to "人数",root_path("capacities")
  = link_to "会場タイプ",root_path("space_types")
  = link_to "アメニティ",root_path("amenities")
  

%h1
  仮置き全てのルーム
  審査通ったroomかつpublicがtrueのroomをもつスペースを全表示
  本番はroomをインデックスで表示してroomのページにとぶ

- @spaces.each do |space|
  %h2
    = "スペースのタイトル： #{space.space_info.title}|"
    = "スペースの住所： #{space.space_info.state + space.space_info.city}"
    = link_to space_path(space.id) do
      = image_tag(space.public_rooms.first.pictures.first.content_url(:thumb))

