.reservation-item-box
  .reservation-item-box__img
    /それぞれのイメージをとってくる
    = image_tag("#{reservation.room.pictures.first.content}" ,class: 'reservation-img')
  .reservation-item-box__txts
    %span.reservation-space-name.weight700
      = reservation.room.intro.title
    %span.reservation-space-value.weight700
      /値段を入力
    %p
      = reservation.plan.name
    %p
      オプション一覧
    .reservation-space-options
      - reservation.reserve_options do |option|
        .reservation-space-options__item
          = option
        /widthで食わせて回せばいい
    .reservation-space-days
      = reservation.reserve_dates.first.start_date
      〜
      = reservation.reserve_dates.last.start_date
    .reservation-space-addres
      = reservation.room.space.space_info.access
    .detail-delete-button-box
      %button.detail-room-button
        ルームの紹介ページ
      /%button.delete-reservation-button
      /予約取り消し
