.reserve-main
  .page__even
    .container
      .row
        .complete-contents
          .complete-contents-message-box
            .complete-contents-message
              予約完了しました
            .complete-contents-message-info
              予約が成立しました。ご利用日に予約したスペースまでお越しください。
            .complete-contents-message-info-bold
              予約成立後には請求が発生します
          .complet-contents__cancel-info
            ※予約成立後のゲストキャンセルはキャンセル料が発生します。詳しくはこちら。

        .reservation-result
          .reservation-result-contents
            .reservation-result__left-content
              .reservation-result__image-box
                = image_tag(@reserve.room.pictures.first.content_url(:preview), class: 'reservation-result__image-box-photo')
              .reservation-result__space-info
                .reservation-result__message-box
                  = @reserve.room.intro.title

            .reservation-result__right-content
              .reservation-result__info
                .reservation-result__info__period
                  .result-info__left-day
                    = @reserve.day ? "ご利用日" : "ご利用時間"
                  .result-info__each-day
                    - @reserve.reserve_dates.each do |rd|
                      .result-info__right-day
                        = rd.start_date
                .reservation-result__info__address
                  .result-info__left__address
                    アクセス
                  .result-info__right__address
                    = @reserve.room.space.space_info.full_address

                .reservation-result__info__plan
                  .result-info__left__plan
                    プラン料金
                  .result-info__right__plan
                    = @reserve.plan.day_price
                    = " 円 （1日あたりの料金）"

                .reservation-result__info__option
                  - unless @reserve.options == []
                    .result-info__left__option
                      追加オプション
                    .result-info__each__option
                      - @reserve.options.each do |op|
                        .result-info__right__option
                          %span.option__list__name
                            = "#{op.name} :"
                          %span.option__list__price
                            = op.price
                            = " 円"


.total_price
  .total_price__title
    合計金額
  .total_price__show
    = "#{@reserve.price}円"

  .total_price__point
    = "付与ポイント: #{@reserve.price / 100}"

= @use_point

= link_to "トップに戻る", root_path
= link_to "予約をし直す", reservation_path(@reserve.id, point: @use_point),method: :delete, data: { confirm: 'よろしいですか？' }
