-# %h1
-#   一つ目のroomの作成状況

-# = @space
-# = @room

-# = render "tmp/host_registration_header"
-# = render "tmp/host_registration1"上中下は別の、間違えた
-# = render "tmp/host_registration_footer"
-# = render "tmp/registration_menu_header"
-# = render "tmp/registration_menu"

.wrapper_0_1
  .wrapper_0_2.modi-wpp
    .top
      .registration_title.s26 スペース掲載までの流れ
      .registration_description
        .sub_title.s12.cgray スペースの作成とホスト情報を登録して、掲載審査に通過するとスペースを掲載することができます。
        .sub_title.s12.cgray 掲載審査申請後でもスペースの編集はいつでも可能です。また、さらに詳しい情報も申請後から設定できるようになります。
    .space
      .header.clearfix
        .left.clearfix
          .house

            =image_tag "house.jpeg", size: "40x40"
        .middle
          -# - unless @space.space_info
          -#   = link_to new_space_room_space_info_path(@space.id, @room.id) do
          -#     .s22 スペースの作成
          -# - else
          .s22 スペースの作成
          .s12.cgray 貸し出すスペースの紹介や注意事項、価格、写真などを登録してスペースを作成しましょう。
        .right
          .hourly.s12.cblue.lcblue.bcwhite 時間貸し
          .daily.s12.cred.lcred.bcwhite 一日貸し
          .type_change.s12.cgreen
            =link_to "貸出方法の変更", new_space_room_path(@space),class: 'hover-green-underline green-color'
      .main
        .facility
          .step
            .step_name_base.clearfix
              -if @space.space_info
                .finished.s12.bcwhite.cgreen.lcgreen 完了
                .step_name.s16 1.施設情報
                = link_to "編集", info_select_space_room_space_infos_path(@space, @room),class: 'edit_button s14 cgreen'

              -else
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 1.施設情報
        .basic
          .step
            .step_name_base.clearfix
              -if @room.basic_info
                .finished.s12.bcwhite.cgreen.lcgreen 完了
              -else
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了

              .step_name.s16 2.基本情報
              - if @room.basic_info || @space.space_info
                = link_to "編集", new_space_room_basic_info_path(@space, @room),class: 'edit_button s14 cgreen'
        .description
          .step
            .step_name_base.clearfix
              -if @room.intro
                .finished.s12.bcwhite.cgreen.lcgreen 完了
              -else
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了

              .step_name.s16 3.説明文
              - if @room.intro || @room.basic_info
                = link_to "編集", new_space_room_intro_path(@space, @room),class: 'edit_button s14 cgreen'
        .image
          .step
            .step_name_base.clearfix
              -if @room.pictures.first
                .finished.s12.bcwhite.cgreen.lcgreen 完了
              -else
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了

              .step_name.s16 4.写真
              - if @room.pictures.first || @room.intro
                = link_to "編集", new_space_room_picture_path(@space, @room),class: 'edit_button s14 cgreen'
        .plan
          .step
            .step_name_base.clearfix
              -if @room.plans.first
                .finished.s12.bcwhite.cgreen.lcgreen 完了
              -else
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了

              .step_name.s16 5.プラン
              - if @room.plans.first || @room.pictures.first
                = link_to "編集", new_space_room_plan_path(@space, @room),class: 'edit_button s14 cgreen'
      = link_to new_space_room_space_info_path(@space.id, @room.id) do
        %button.space_button.s16.cwhite.bcgreen 続きから編集

    .host
      .header.clearfix
        .left.clearfix
          .house
            =image_tag "host.svg", size: "40x40"
        .middle
          .s22 ホスト情報の登録
          .s12.cgray アカウント情報や本人確認書類、売上を振り込む口座などを設定しましょう。
      .main
        - unless current_user.host_profile
          //---続きからにいかせたい、データがないときcurrent_user.host_profileがないと、そこからのアソシエーションがないよ、とエラーがでるので二つつくってあります
          .account
            .step
              .step_name_base.clearfix
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 １．アカウント
          .address
            .step
              .step_name_base.clearfix
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 ２．アドレス
          .bank_account
            .step
              .step_name_base.clearfix
                .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 ３．振込口座
          = link_to space_settings_host_profiles_path(@space.id) do
            %button.host_button.s16.cwhite.bcgreen 続きから編集


        - else
          .account
            .step
              .step_name_base.clearfix
                - if current_user.host_profile
                  .finished.s12.bcwhite.cgreen.lcgreen 完了
                .step_name.s16 １．アカウント
                = link_to "編集", space_settings_host_profiles_path(@space.id),class: 'edit_button s14 cgreen'

          .address
            .step
              .step_name_base.clearfix

                - if current_user.host_profile.host_address
                  .finished.s12.bcwhite.cgreen.lcgreen 完了
                -else
                  .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 ２. 住所
                -if current_user.host_profile.host_address || current_user.host_profile
                  = link_to "編集", space_settings_host_addresses_path(@space.id),class: 'edit_button s14 cgreen'

          .bank_account
            .step
              .step_name_base.clearfix
                - if current_user.host_profile.host_bank
                  .finished.s12.bcwhite.cgreen.lcgreen 完了
                - else
                  .notfinished.step_status.s12.bcwhite.cgray.lcgray 未完了
                .step_name.s16 ３．振込口座
                -if current_user.host_profile.host_bank || current_user.host_profile.host_address
                  = link_to "編集", space_settings_host_banks_path(@space.id),class: 'edit_button s14 cgreen'

          = link_to space_settings_host_profiles_path(@space.id) do
            %button.host_button.s16.cwhite.bcgreen 続きから編集

    .bottom_line
  .bottom
    .registration_title 必要な情報をすべて入力すると審査に申請することができます。
    - if current_user.complete_owner_infos? && @room.complete_infos?
      = link_to  for_wating_room_path(@room) do
        %button.application_button.s18.cwhite.bcgreen
          掲載審査を申請する
    - else
      %button.application_button.s18.cgray.bclgray 掲載審査

