%h1
  3. 振込口座
= render 'shared/errors', object: @host_bank

= form_for [@space ,"settings",@host_bank] do |f|

  %h2
    銀行名
  = f.text_field :bank_name

  %h2
    銀行コード
  = f.number_field :bank_code, in: 1...10000000000000

  %h2
    支店めい
  = f.text_field :branch_name

  %h2
    支店こーど
  = f.number_field :branch_code, in: 1...10000000000000

  %h2
    口座番号
  = f.number_field :account_number, in: 1...10000000000000

  %h2
    口座名義オンリーカタカナ！
  = f.text_field :account_name



  = f.submit "保存して進む"