.basic-information-box
  .basic-information-box__title.weight700
    基本情報
  .basic-information-box__usage
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      使用可能用途
    %p.red-box-description
      このスペースをどのような目的に使ってよいか選択してください。複数選択可能。
    %p.some
      %span.BI-usage-checkbox
        = check_box  true, false
        パーティー
      %span.BI-usage-checkbox
        = check_box  true, false
        会議・研修
      %span.BI-usage-checkbox
        = check_box  true, false
        写真撮影
      %span.BI-usage-checkbox
        = check_box  true, false
        ロケ撮影
    %p.some
      %span.BI-usage-checkbox
        = check_box  true, false
        イベント
      %span.BI-usage-checkbox
        = check_box  true, false
        演奏・パフォーマンス
      %span.BI-usage-checkbox
        = check_box  true, false
        個展・展示会
      %span.BI-usage-checkbox
        = check_box  true, false
        スポーツ・フィットネス
    %p.some
      %p.BI-usage-checkbox
        = check_box  true, false
        オフィス
      %span.BI-usage-checkbox
        = check_box  true, false
        結婚式
      %span.BI-usage-checkbox
        = check_box  true, false
        その他
  .basic-information-box__seating-capacity
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      最大収容人数
    %p
      = text_area :page, :comtent,class:'seating-capacity-textarea'
      %span
        人
  .basic-information-box__floor-space
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      最大収容人数
    %p
      = text_area :page, :comtent,class:'floor-space-textarea'
      %span
        ㎡
  .basic-information-box__key-delivery
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      鍵の受け渡し
    %p.red-box-description
      利用日当日の鍵の受け渡し方法を選択してください。
    /https://qiita.com/seisonshi/items/fb123f0a05b6b40d72af
    .BI-key-delivery-checkbox
      = radio_button :test, :foo, label: "設定1", inline: true
      対面
    .BI-key-delivery-checkbox
      = radio_button :test, :foo, label: "設定1", inline: true
      キーボックス
    .BI-key-delivery-checkbox
      = radio_button :test, :foo, label: "設定1", inline: true
      スマートロック
    .BI-key-delivery-checkbox
      = radio_button :test, :foo, label: "設定1", inline: true
      予約成立後にメッセージで伝える
  .basic-information-box__reservation
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      予約の締め切り
    %p.red-box-description
      利用日の何日前に予約を締め切るかを設定してください。
      %br
      例）「利用日の7日前」に設定→ゲストが4月8日に利用したい場合、4月1日以前に予約をする必要があります。
    %select{name:'example'}
      %option{value:"利用日当日"}利用日当日
      %option{value:"利用日の1日前"}利用日の1日前
      %option{value:"利用日の2日前"}利用日の2日前
      %option{value:"利用日の3日前"}利用日の3日前
      %option{value:"利用日の7日前"}利用日の7日前
      %option{value:"利用日の14日前"}利用日の14日前
  .basic-information-box__term
    %span.red-box.weight700
      必須
    %span.red-box-with-txt
      予約の受付期間
    %p.red-box-description
      ゲストが予約リクエストする日を起点として、利用日が何ヶ月先までの予約を受け付けるか設定してください。
      %br
      例）「12ヶ月先まで予約を受け付ける」を設定→2018年4月1日の場合、2019年4月1日まで予約を受け付けます。
    %select{name:'example'}
      %option{value:"3ヶ月先"}3ヶ月先まで予約を受け付ける
      %option{value:"6ヶ月先"}6ヶ月先まで予約を受け付ける
      %option{value:"9ヶ月先"}9ヶ月先まで予約を受け付ける
      %option{value:"12ヶ月先"}12ヶ月先まで予約を受け付ける
  .basic-information-box__ameniti
    %span.gray-box.weight700
      任意
    %span.red-box-with-txt
      アメニティ
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        テーブル
      %span.AME-checkbox
        = check_box  true, false
        椅子
      %span.AME-checkbox
        = check_box  true, false
        プロジェクター
      %span.AME-checkbox
        = check_box  true, false
        駐車場
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        WIFI
      %span.AME-checkbox
        = check_box  true, false
        ホワイトボード
      %span.AME-checkbox
        = check_box  true, false
        プリンター
      %span.AME-checkbox
        = check_box  true, false
        キッチン配備
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        調理機材
      %span.AME-checkbox
        = check_box  true, false
        テレビ
      %span.AME-checkbox
        = check_box  true, false
        ロッカー
      %span.AME-checkbox
        = check_box  true, false
        ケータリング
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        バー
      %span.AME-checkbox
        = check_box  true, false
        音響設備
      %span.AME-checkbox
        = check_box  true, false
        ミラー
      %span.AME-checkbox
        = check_box  true, false
        シャワー
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        更衣室
      %span.AME-checkbox
        = check_box  true, false
        照明設備
      %span.AME-checkbox
        = check_box  true, false
        写真撮影機材
      %span.AME-checkbox
        = check_box  true, false
        動画撮影機材
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        公共共通期間
      %span.AME-checkbox
        = check_box  true, false
        トイレ
      %span.AME-checkbox
        = check_box  true, false
        冷蔵庫
      %span.AME-checkbox
        = check_box  true, false
        電源
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        冷暖房
      %span.AME-checkbox
        = check_box  true, false
        周辺に飲食店
      %span.AME-checkbox
        = check_box  true, false
        スーパー/コンビニ
      %span.AME-checkbox
        = check_box  true, false
        バリアフリー
    %p.some
      %span.AME-checkbox
        = check_box  true, false
        飲酒可
      %span.AME-checkbox
        = check_box  true, false
        ペット可
      %span.AME-checkbox
        = check_box  true, false
        子連れか
      %span.AME-checkbox
        = check_box  true, false
        喫煙可
  = link_to "#" do
    .space-edit-preserve-box
      .space-edit-preserve-box__button
        保存
