%h1
  ステップフォーム5
  Plan

= @plan



= form_for [@space, @room, @plan] do |f|


  %h2
    プランの名称
  = f.text_field :name

  %h2
    プランの説明
  = f.text_area :about

  %h2
    時間価格にする？
  = f.check_box :time_pay

  %h2
    時間価格
  = f.number_field :time_price

  %h2
    一日価格にする？
  = f.check_box :day_pay

  %h2
    1日価格
  = f.number_field :day_price

  %h2
    予約の承認方法
  %h3
    承認なし
  = f.radio_button :about_reserve, :true, checked: "checked"

  %h3
    承認あり
  = f.radio_button :about_reserve, :false, checked: "checked"


  = f.fields_for :weeks do |w|
    %h2
      日曜日
    = w.check_box :name,{},checked_value = "日曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      月曜日
    = w.check_box :name,{},checked_value = "月曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end


  = f.fields_for :weeks do |w|
    %h2
      火曜日
    = w.check_box :name,{},checked_value = "火曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      水曜日
    = w.check_box :name,{},checked_value = "水曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      木曜日
    = w.check_box :name,{},checked_value = "木曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      金曜日
    = w.check_box :name,{},checked_value = "金曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      土曜日
    = w.check_box :name,{},checked_value = "土曜日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end

  = f.fields_for :weeks do |w|
    %h2
      祝日
    = w.check_box :name,{},checked_value = "祝日",unchecked_value = ""
    = w.number_field :start
    = w.number_field :end


  =f.submit "保存して進む"