-# %h1
-#   ステップフォーム5
-#   Plan

-# = @plan

-# = render 'shared/errors', object: @plan



-# = form_for [@space, @room, @plan] do |f|



-#   %h2
-#     時間価格にする？
-#   = f.check_box :time_pay

-#   %h2
-#     時間価格
-#   = f.text_field :time_price

-#   %h2
-#     一日価格にする？
-#   = f.check_box :day_pay

-#   %h2
-#     1日価格
-#   = f.text_field :day_price

-#   %h2
-#     予約の承認方法
-#   %h3
-#     承認なし
-#   = f.radio_button :about_reserve, :true

-#   %h3
-#     承認あり
-#   = f.radio_button :about_reserve, :false
-#   - if @plan.name == nil
-#     - @week.each do |day|
-#       = f.fields_for :weeks do |w|
-#         %h2
-#           = day
-#         = w.hidden_field :name ,value: "#{day}"
-#         = w.check_box :can,{},checked_value = "true",unchecked_value = "false"
-#         = w.select :start_time, 0..36, selected: 9
-#         ：００〜
-#         = w.select :end_time, 0..36, selected: 22
-#         ：００

-#   - else
-#     = f.fields_for :weeks do |w|
-#       %h2
-#         = w.object.name
-#       = w.hidden_field :name
-#       = w.check_box :can,{},checked_value = "true",unchecked_value = "false"
-#       = w.select :start_time, 0..36
-#       ：００〜
-#       = w.select :end_time, 0..36
-#       ：００

-#   =f.submit "保存して進む"

= form_for [@space, @room, @plan] do |f|

  .wrapper_1_1
    .wrapper_1_2
      .upper
        .title_base.clearfix
          .title 5 プラン
          .detail スペースを貸し出す際の料金プランを設定してください。
      .main

        .plan_name
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name プランの名称
          .input_base
            = f.text_field :name, placeholder: "プランの名称", class: "input_area", id: "plan_name_unique"
          .attention_01.fa.fa-exclamation-circle#warning51 プランの名称を入力してください。

        .plan_explanation
          .title_base
            .title_name_base.clearfix
              .title_type_optional 任意
              .title_name プランの説明
          .input_base
            = f.text_field :about, :placeholder => "プランの説明", :class => "input_area", style: "height: 150px;"
            .explanation 例）Wi-Fi、ホワイトボード完備で会議からイベントまでご利用いただけます。その他必要な備品につきましては予約リクエスト時にお問い合わせください。
        .rent_price
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 価格
          %ul
            %li.clearfix
              .price_upper
                .title
                  .title_name 時間価格
                .slide#slide_hour_price
                  .slide_wrap1
                    .slide_wrap2
                      = f.range_field :time_pay, class: "slide_value", max: "1", min: "0", name: "plan[time_pay]", step: "1", type: "range"
                      .slide_name 設定中
                .price_bottom
                  .yen ￥
                  .price_wrap
                    = f.text_field :time_price,placeholder: "3000", type: "text", id: "price_hour_unique", class: "price_content"
                  .per_hour /時間
            %li.clearfix
              .price_upper
                .title
                  .title_name 一日価格
                .slide#slide_day_price
                  .slide_wrap1
                    .slide_wrap2
                      = f.range_field :day_pay, class: "slide_value", max: "1", min: "0", name: "plan[day_pay]", step: "1", type: "range"
                      .slide_name 設定中
                .price_bottom
                  .yen ￥
                  .price_wrap
                    = f.text_field :day_price,placeholder: "8000", type: "text", id: "price_day_unique", class: "price_content"
                  .per_hour /日
            .border
            .attention_01.fa.fa-exclamation-circle#warning52 入力必須項目です。
            .attention_01.fa.fa-exclamation-circle#warning53 半角数字で入力してください。


        .available_date_time
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 貸出可能な曜日・時間帯
            .detail 貸出可能な曜日と時間を設定してください。0時〜36時（翌日12時）の間で入力してください。
            .set_all.fas.fa-angle-down 一括で設定する

            .set_all_view
              .set_all_view_wrap
                .close_button ✖︎
                .upper.clearfix
                  .title_base
                    .title 時間帯の一括設定
                    .detail 全ての曜日を貸出可能にし、時間帯を一括で設定できます。
                .main.clearfix
                  .title_base2
                    .title_name_base.clearfix
                      .title_type 必須
                      .title_name 貸出し可能な時間帯
                  .time_wrap2
                    = render partial: "/tmp/available_date_detail"
                .bottom2
                  %button.bottom_button 設定
            %ul
              - if @plan.name == nil
                - @week.each do |day|
                  = f.fields_for :weeks do |w|
                    %li.clearfix
                      .price_upper
                        .title
                          .title_name
                            = day
                            = w.hidden_field :name ,value: "#{day}"
                        .slide_wrap0#sunday
                          .slide#slide_date
                            .slide_wrap1
                              .slide_wrap2
                                = w.range_field :can, max: "1", min: "0", step: "1", type: "range", class: "slide_value"
                                .slide_name 貸し出す
                          .time_bottom
                            .time_wrap
                              = w.select :start_time, 0..24, {selected: 9} , {class: 'starttime'}
                            .per_hour :00 〜
                            .time_wrap
                              = w.select :end_time, 0..24, {selected: 24} , {class: 'starttime'}
                            .per_hour :00

              - else
                = f.fields_for :weeks do |w|
                  %li.clearfix
                    .price_upper
                      .title
                        .title_name
                          = w.object.name
                          = w.hidden_field :name
                      .slide_wrap0#sunday
                        .slide#slide_date
                          .slide_wrap1
                            .slide_wrap2
                              = w.range_field :can, max: "1", min: "0", step: "1", type: "range", class: "slide_value"
                              .slide_name 貸し出す
                        .time_bottom
                          .time_wrap
                            = w.select :start_time, 0..24,{}, {class: 'starttime'}
                          .per_hour :00 〜
                          .time_wrap
                            = w.select :end_time, 0..24,{} , {class: 'starttime'}
                          .per_hour :00

              .border
        .approval
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 予約の承認方式
          .detail 予約にホストの承認が必要かどうかを設定してください。
          .detail 承認なし（今すぐ予約）に設定するとゲストとのやりとりが簡単になり、予約が入りやすくなります。
          .input_base.clearfix
            .wrap.recommendation
              %input{type: "radio", id: "radio1", name: "plan[about_reserve]", width: "200px",value: "true", checked: true}
              %lavel.radio_type{for: "radio1"} 承認なし（今すぐ予約）
            .recommendation_sign おすすめ
            .wrap
              %input{type: "radio", id: "radio2", name: "plan[about_reserve]", value: "false"}
              %lavel.radio_type{for: "radio2"} 承認あり



  .bottom
    .bottom_line
      .bottom_buttons
        .back_button_wrap
          .back_button
            %button.back_button_inside 保存して戻る
        .forward_button_wrap
          .forward_button
            =f.submit "保存して進む", class: "forward_button_inside"



