%h1
  ステップフォーム5
  Plan

= @plan



= form_for [@space, @room, @plan] do |f|


  %h2
    プランの名称
  = f.text_field :name

  %h2
    プランの説明
  = f.text_area :about

  %h2
    時間価格にする？
  = f.check_box :time_pay

  %h2
    時間価格
  = f.text_field :time_price

  %h2
    一日価格にする？
  = f.check_box :day_pay

  %h2
    1日価格
  = f.text_field :day_price

  %h2
    予約の承認方法
  %h3
    承認なし
  = f.radio_button :about_reserve, :true, checked: "checked"

  %h3
    承認あり
  = f.radio_button :about_reserve, :false, checked: "checked"
  - if @plan.name == nil
    - @week.each do |day|
      = f.fields_for :weeks do |w|
        %h2
          = day
        = w.hidden_field :name ,value: "#{day}"
        = w.check_box :can,{},checked_value = "true",unchecked_value = "false"
        = w.select :start_time, 0..36, selected: 9
        ：００〜
        = w.select :end_time, 0..36, selected: 22
        ：００

  - else
    = f.fields_for :weeks do |w|
      %h2
        = w.object.name
      = w.hidden_field :name
      = w.check_box :can,{},checked_value = "true",unchecked_value = "false"
      = w.select :start_time, 0..36
      ：００〜
      = w.select :end_time, 0..36
      ：００

  =f.submit "保存して進む"
