
= render partial: 'shared/host_sidevar'

%h2
  設定・メールつうち

= form_for [current_user, @notification] do |f|
  %h1
    メール通知設定
  %h2
    スペースマーケットからのお知らせ
    = f.check_box :about_mail_1
  %h2
    お問い合わせ・予約リクエストに関するお知らせ
    = f.check_box :about_mail_2
  %h2
    お問い合わせ・予約リクエストに関するリマインド
    = f.check_box :about_mail_3
  %h2
    スペース掲載に関するお知らせ
    = f.check_box :about_mail_4
  %h2
    お気に入りへの追加のお知らせ
    = f.check_box :about_mail_5
  %h2
    お得キャンペーン＆ヒントに関するお知らせ
    = f.check_box :about_mail_6

  %h1
    アプリ通話受信設定
  %h2
    スペースマーケットからのお知らせ
    = f.check_box :about_call_1
  %h2
    お問い合わせ・予約リクエストに関するお知らせ
    = f.check_box :about_call_2
  %h2
    お問い合わせ・予約リクエストに関するリマインド
    = f.check_box :about_call_3

  = hidden_field_tag :id, @notification.id

  = f.submit "保存"
