
= form_for [@space ,"settings",@host_address] do |f|
  = f.hidden_field :last_address, value: "お"
  = f.hidden_field :last_address_kata, value: "オ"
  .wrapper_2_1
    .wrapper_2_2
      .upper
        .title_base.clearfix
          .title ２　住所
          .sub_title 担当者の住所
          .explanation_wrap.clearfix
            .explanation_black アカウントで登録した
            .explanation_red 身分証明書類に記載の住所
            .explanation_black を入力してください。
        .border
      .main
        .postal_cd
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 郵便番号
            .detail ハイフンなしの半角数字。入力すると住所が自動補完されます。
          .input_base

            = f.text_field :post_code, placeholder: "郵便番号", class: "input_area", maxlength: "8", onkeyup: "AjaxZip3.zip2addr(this,'','host_address[state]','host_address[city]');", size: "10", id: "postal_cd_unique"
            .explanation 例）1600023
            .attention_01.fa.fa-exclamation-circle#warning_hr_21 郵便番号を入力してください。
            .attention_01.fa.fa-exclamation-circle#warning_hr_22 半角数字で入力してください。

        .ward
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 都道府県
          .input_base.clearfix
            -# %input.select_area{placeholder: "都道府県", type: "text", name: "pref01", size: "20", type: "text", id: "ward_unique"}
            = f.text_field :state, placeholder: "都道府県", size: "20", id: "ward_unique", class: "select_area"
          .attention_01.fa.fa-exclamation-circle#warning_hr_23 都道府県を入力してください。

        .block
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 市区町村
          .title 漢字
          .input_base
            = f.text_field :city,laceholder: "市区町村", type: "text" ,size: "60",  id: "block_unique", class: "input_area"
          .explanation 例）新宿区
          .attention_01.fa.fa-exclamation-circle#warning_hr_24 市区町村（漢字）を入力してください。
          .title フリガナ
          .input_base
            -# %input{placeholder: "シクチョウソン", class: "input_area", type: "text", id: "block_kana_unique"}
            = f.text_field :city_kata, placeholder: "シクチョウソン", class: "input_area",id: "block_kana_unique"
          .explanation 例）シンジュクク
          .attention_01.fa.fa-exclamation-circle#warning_hr_25 市区町村（カナ）を入力してください。

        .street
          .title_base
            .title_name_base.clearfix
              .title_type 必須
              .title_name 町名・番地
          .title 漢字
          .input_base
            -# %input{placeholder: "町名・番地", type: "text", class: "input_area", id: "street_unique"}
            = f.text_field :address, placeholder: "町名・番地",class: "input_area", id: "street_unique"
          .explanation 例）西新宿6丁目
          .attention_01.fa.fa-exclamation-circle#warning_hr_26 町名・番地（漢字）を入力してください。
          .title フリガナ
          .input_base
            -# %input{placeholder: "チョウメイ・バンチ", class: "input_area", type: "text", id: "street_kana_unique"}
            = f.text_field :address_kata,placeholder: "チョウメイ・バンチ", class: "input_area", type: "text", id: "street_kana_unique"
          .explanation 例）ニシシンジュク6チョウメ
          .attention_01.fa.fa-exclamation-circle#warning_hr_27 町名・番地（カナ）を入力してください。

        .building
          .title_base
            .title_name_base.clearfix
              .title_type_optional 任意
              .title_name ビル名・部屋番号
          .title 漢字
          .input_base

            = f.text_field :building, :placeholder => "ビル名・部屋番号", :type => "text", :class => "input_area"
          .explanation 例）ラ・トゥール新宿608号室
          .title フリガナ
          .input_base

            = f.text_field :building_kata,placeholder: "ビルメイ・ヘヤバンゴウ", class: "input_area", type: "text"
          .explanation 例）ラトゥールシンジュク608ゴウシツ

    -if @company_address
      = fields_for(@company_address) do |c|
        = c.hidden_field :last_address, value: "お"
        = c.hidden_field :last_address_kata, value: "オ"
        .wrapper_2_2
          .upper
            .title_base.clearfix
              .title
              .sub_title 法人の住所
              .explanation_wrap.clearfix
                .explanation_black 基本情報で登録した法人の登記簿謄本に記載された住所を入力してください。
            .border
          .main
            .postal_cd
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 郵便番号
                .detail ハイフンなしの半角数字。入力すると住所が自動補完されます。
              .input_base

                = c.text_field :post_code, placeholder: "郵便番号", class: "input_area", maxlength: "8", onkeyup: "AjaxZip3.zip2addr(this,'','company_address[state]','company_address[city]');", size: "10", id: "postal_cd_unique"
                .explanation 例）1600023
                .attention_01.fa.fa-exclamation-circle#warning_hr_21 郵便番号を入力してください。
                .attention_01.fa.fa-exclamation-circle#warning_hr_22 半角数字で入力してください。

            .ward
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 都道府県
              .input_base.clearfix
                -# %input.select_area{placeholder: "都道府県", type: "text", name: "pref01", size: "20", type: "text", id: "ward_unique"}
                = c.text_field :state, placeholder: "都道府県", size: "20", id: "ward_unique", class: "select_area"
              .attention_01.fa.fa-exclamation-circle#warning_hr_23 都道府県を入力してください。

            .block
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 市区町村
              .title 漢字
              .input_base
                = c.text_field :city,laceholder: "市区町村", type: "text" ,size: "60",  id: "block_unique", class: "input_area"
              .explanation 例）新宿区
              .attention_01.fa.fa-exclamation-circle#warning_hr_24 市区町村（漢字）を入力してください。
              .title フリガナ
              .input_base
                -# %input{placeholder: "シクチョウソン", class: "input_area", type: "text", id: "block_kana_unique"}
                = c.text_field :city_kata, placeholder: "シクチョウソン", class: "input_area",id: "block_kana_unique"
              .explanation 例）シンジュクク
              .attention_01.fa.fa-exclamation-circle#warning_hr_25 市区町村（カナ）を入力してください。

            .street
              .title_base
                .title_name_base.clearfix
                  .title_type 必須
                  .title_name 町名・番地
              .title 漢字
              .input_base
                -# %input{placeholder: "町名・番地", type: "text", class: "input_area", id: "street_unique"}
                = c.text_field :address, placeholder: "町名・番地",class: "input_area", id: "street_unique"
              .explanation 例）西新宿6丁目
              .attention_01.fa.fa-exclamation-circle#warning_hr_26 町名・番地（漢字）を入力してください。
              .title フリガナ
              .input_base
                -# %input{placeholder: "チョウメイ・バンチ", class: "input_area", type: "text", id: "street_kana_unique"}
                = c.text_field :address_kata,placeholder: "チョウメイ・バンチ", class: "input_area", type: "text", id: "street_kana_unique"
              .explanation 例）ニシシンジュク6チョウメ
              .attention_01.fa.fa-exclamation-circle#warning_hr_27 町名・番地（カナ）を入力してください。

            .building
              .title_base
                .title_name_base.clearfix
                  .title_type_optional 任意
                  .title_name ビル名・部屋番号
              .title 漢字
              .input_base

                = c.text_field :building, :placeholder => "ビル名・部屋番号", :type => "text", :class => "input_area"
              .explanation 例）ラ・トゥール新宿608号室
              .title フリガナ
              .input_base

                = c.text_field :building_kata,placeholder: "ビルメイ・ヘヤバンゴウ", class: "input_area", type: "text"
              .explanation 例）ラトゥールシンジュク608ゴウシツ




    .bottom
      .bottom_line
        .bottom_buttons
          .back_button_wrap
            .back_button
              %button.back_button_inside 保存して戻る
          .forward_button_wrap
            .forward_button
              =f.submit "保存して進む", class: "forward_button_inside"
              -# %button.forward_button_inside 保存して進む

