!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SpaceMarket
    = favicon_link_tag('icon-256.ico')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    /= render partial: 'shared/header'
    /.main_wrapper
    /= yield
    .Space-Management-container
      .Space-Management-TopBox
        .Space-Management-TopBox-Left
          %p.Space-Management-TopBox-Left__title.weight700
            スペース編集
          %p.Space-Management-TopBox-Left__spacename
            space name
        .Space-Management-TopBox-Right
          = link_to "#" ,class:"hover-white" do
            %p.Space-Management-TopBox-Right__close
              ×


      .Space-Management-BottomBox
        .Space-Management-BottomBox-Left
          %ul
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  施設情報

            %li.Space-Management-BottomBox-Left__space-left-nav
              %p.weight700.space-left-nav-item.link-black.space-left-time-pre
                時間貸し
                %span.space-left-pre-preview
                  プレビュー
                %br
                %span.space-left-pre-minitxt
                  SPACEMARKETに掲載
                %span.onoffswitch
                  %input{type:"checkbox" ,name:"onoffswitch" ,class:"onoffswitch-checkbox" ,id:"myonoffswitch"}
                  %label{class:"onoffswitch-label" ,for:"myonoffswitch"}
                %span.onoffswitch-checkbox-offtext
                  非公開
                %span.onoffswitch-checkbox-ontext
                  公開中
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  基本情報
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  スペースの紹介・注意事項
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  写真・動画
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  プラン・価格設定
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  オプション
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  定型文
            = link_to "#" do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  キャンセルポリシー・利用規約
            %li.Space-Management-BottomBox-Left__space-left-nav
              %p.space-left-nav-close
                閉じる
            %li.Space-Management-BottomBox-Left__space-stay
              %p.space-stay-txt
                追加情報を登録して、
                %br
              %p.space-stay-txt
                宿泊として貸し出してみませんか？
              = link_to "#" ,class:'hover-back-gray' do
                %p.space-stay-red-button.weight700
                  このスペースを宿泊で貸し出す
        .Space-Management-BottomBox-Right
          .Space-Management-BottomBox-Right-container
            /ここから下に各ページ,正確にはrenderで呼び出されるのは上のnavbarの部分
            




              


/= render partial: 'shared/footer'
