!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SpaceMarket
    = favicon_link_tag('icon-256.ico')
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.0.6/css/all.css", :rel => "stylesheet"}/
    / 郵便番号→住所
    %script{:charset => "UTF-8", :src => "https://ajaxzip3.github.io/ajaxzip3.js"}
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
  %body
    -# = render partial: 'shared/header' #いつか消す
    .host-header
      .host-header__left
        .host-left-logo
          = image_tag 'host-icon.png' ,class: 'host-left-img'
        .host-left-navs
          %ul
            = link_to user_dashboard_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                ダッシュボード
            = link_to user_calender_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                カレンダー
            = link_to user_inbox_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                受信トレイ
            = link_to user_rooms_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                スペース管理
            = link_to summary_user_achievements_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                実績
            = link_to host_profile_user_settings_path(current_user.id) ,class:'link-white' do
              %li.host-left-navs__txt
                設定
      .host-header__right
        .host-right-nav
          %ul
            %li.host-right-nav__content-profile
              %input{id:"prof-tg",class:"content-profile-checkbox" ,type:"checkbox"}
              %label{for:"prof-tg"}
                = image_tag current_user.host_profile.avatar ,class: 'content-profile-img'
              .content-profile-box
                /-----------------------------------ここにプロフィールを設定してください---------
                %ul
                  %li.content-profile-box__name-with-img
                    = image_tag current_user.host_profile.avatar ,class: 'content-profile-img'
                    = "#{current_user.host_profile.last_name} #{current_user.host_profile.first_name}"
                  = link_to user_dashboard_path(current_user.id) ,class:'link-black' do
                    %li.content-profile-box__name.hover-back-gray
                      = "#{current_user.host_profile.last_name} #{current_user.host_profile.first_name}"
                  = link_to root_path ,class:'link-black' do
                    %li.content-profile-box__spacemarket.hover-back-gray
                      SPACEMARKET
                  = link_to 'https://stay.spacemarket.com/' ,class:'link-black' do
                    %li.content-profile-box__spacemarket-stay.hover-back-gray
                      SPACEMARKET STAY
                  = link_to 'https://help.spacemarket.com/hc/ja/categories/204528307' ,class:'link-black' do
                    %li.content-profile-box__contact.hover-back-gray
                      お問い合わせ
                  = link_to '#' ,class:'link-black hover-back-gray' do
                    %li.content-profile-box__rule.hover-back-gray
                      ホスト規約
                  = link_to destroy_user_session_path, mthood: :delete ,class:'link-black' do
                    %li.content-profile-box__sign-out.hover-back-gray
                      ログアウト
                /-----------------------------------ここにプロフィールを設定してください---------
            %li.host-right-nav__content-down
              %input{id:"todo-tg",class:"content-down-checkbox" ,type:"checkbox"}
              %label{for:"todo-tg"}
                = fa_icon 'check', class: 'content-down-img link-black color-white'
              .content-down-box
                %ul
                  %li.content-down-box__title
                    = fa_icon 'check', class: ''
                    やることリスト
                  %li.content-down-box__message
                    some message
            %li.host-right-nav__content-mail
              %input{id:"mail-tg",class:"content-mail-checkbox" ,type:"checkbox"}
              %label{for:"mail-tg"}
                = fa_icon 'envelope', class: 'content-mail-img hover-white link-gray', id: 'envelope-size'
                %br
                %p.content-mail-txt.link-white
                  お知らせ
              .content-mail-box
                %ul
                  %li.content-mail-box__title
                    = fa_icon 'envelope'
                    お知らせ
                  %li.content-mail-box__message
                    some message
            = link_to 'https://help.spacemarket.com/hc/ja' ,class:'link-white' do
              %li.host-right-nav__content-help
                ヘルプ

      .Space-Management-TopBox
        .Space-Management-TopBox-Left
          %p.Space-Management-TopBox-Left__title.weight700
            スペース編集
          %p.Space-Management-TopBox-Left__spacename
            = @room.intro.title
        .Space-Management-TopBox-Right
          = link_to user_rooms_path(current_user.id) ,class:"hover-white" do
            %p.Space-Management-TopBox-Right__close
              ×


    .Space-Management-container
      .Space-Management-BottomBox
        .Space-Management-BottomBox-Left
          %ul
            = link_to user_room_space_infos_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  施設情報

            %li.Space-Management-BottomBox-Left__space-left-nav
              %p.weight700.space-left-nav-item.link-black.space-left-time-pre
                時間貸し
                %span.space-left-pre-preview
                  プレビュー
                %br
                %span.space-left-pre-minitxt
                  SPACEMARKETに掲載
                %span.onoffswitch
                  %input{type:"checkbox" ,name:"onoffswitch" ,class:"onoffswitch-checkbox" ,id:"myonoffswitch"}
                  %label{class:"onoffswitch-label" ,for:"myonoffswitch"}
                %span.onoffswitch-checkbox-offtext
                  非公開
                %span.onoffswitch-checkbox-ontext
                  公開中
            = link_to user_room_basic_infos_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  基本情報
            = link_to user_room_intros_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  スペースの紹介・注意事項
            = link_to user_room_pictures_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  写真・動画
            = link_to user_room_plans_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  プラン・価格設定
            = link_to user_room_options_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  オプション
            = link_to user_room_reserve_phrases_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  定型文
            = link_to user_room_agreements_path(current_user.id, @room.id) do
              %li.Space-Management-BottomBox-Left__space-left-nav
                %p.space-left-nav-item.link-black.hover-left-green
                  キャンセルポリシー・利用規約
            %li.Space-Management-BottomBox-Left__space-left-nav
              %p.space-left-nav-close
                閉じる
            %li.Space-Management-BottomBox-Left__space-stay
              %p.space-stay-txt
                追加情報を登録して、
                %br
              %p.space-stay-txt
                宿泊として貸し出してみませんか？
              = link_to "#" ,class:'hover-back-gray' do
                %p.space-stay-red-button.weight700
                  このスペースを宿泊で貸し出す
        .Space-Management-BottomBox-Right
          .Space-Management-BottomBox-Right-container
            = yield

